@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body,
div.flex-centered {
  flex-direction: column;
  width: 100%;
  font-family: 'Noto Sans Display';
}


audio,
img,
h1 {
  width: 90%;
}

audio::-webkit-media-controls-panel {
  background-color: #f1f1fc;
}

img,
h1 {
  box-shadow: 0 0 0.5rem #0007;
}

img {
  height: 51vw;
  object-fit: cover;
}

.d-flex {
  width: 80%;
  justify-content: space-around;
}

@media(orientation:landscape) {
  body {
    flex-direction: row;
  }

  img {
    height: 25vw;
  }

  img,
  div.flex-centered {
    width: 45%;
  }
}

button,
img,
audio,
input,
span,
a,
i {
  animation: born 1s ease-in-out;
}

@keyframes born {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}
