@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --bg: rgb(119, 149, 218);
  --accent: #fff7;
  --text: #000b;
  --border: none;
}

body {
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  width: 80vw;
  background: var(--accent);
  border-radius: 1rem;
  text-align: center;
  border: 1px solid var(--border);
  box-shadow: 0 0.1rem 0.3rem #0003;
}


#settings {
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  height: 3rem;
  background: var(--accent);
  padding: 0.3rem;
  width: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -0.6rem;
  animation: appear 1s ease-in-out;
}
@keyframes appear{
  from{
    transform: translateY(-100%);
  }
}

button {
  background: none;
  border: none;
  color: var(--border);
  width: 3rem;
  border-radius: 50%;
  outline: none;
}


#data {
  background: var(--accent);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

img {
  height: 45vw;
  border: 1px solid var(--border);
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.3rem #0003;
}

#meta {
  background: none;
  border: none;
  box-shadow: none;

}

#title {
  font-size: 2rem;
}


#player {
  margin-top: 2rem;
  padding: 0.3rem;
  height: auto;
  width: auto;
  background: var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#play {
  display: flex;
  width: auto;
  background: none;
  box-shadow: none;
}

#playBtn {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--accent)
}

#stngBtn {
  transition: transform 1s;
}

#stngBtn:focus {
  transform: rotate(120deg);
}

input {
  background: var(--accent);
  border: 1px solid var(--border);
  border-radius: 0.7rem;
  box-shadow: 0 0.1rem 0.3rem #0003;
  height: 3rem;
  outline: none;
  text-align: center;
  color: var(--text);
  font-weight: bold;
  margin-top: 1rem;
}


@media (min-width:600px) {

  #data {
    flex-direction: row;
  }

  img {
    height: 22.5vw
  }

  #player {
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    width: auto;
  }

  input {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  #settings {
    height: 7rem;
    grid-template-columns: auto auto auto auto auto;
  }

  button {
    height: 3rem;
  }

}

.on {
  background: var(--accent);
  color: var(--text);
  transform: scale(0.9)
}

.hide {
  display: none;
}

.show {
  display: grid;
}