@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: black;
  font-family: 'Outfit', sans-serif;
}

p {
  width: 16rem;
  border: 0.1rem solid deeppink;
  user-select: none;
  animation: initialize 2s;
  color: hotpink;
  text-align: center;
}

p:hover,
p:focus {
  background-color: deeppink;
  color: black;
}

img,
iframe {
  border: 0.1rem solid deeppink;
  height: 9rem;
  width: 16rem;
  animation: initialize 2s;
}

@keyframes initialize {
  from {
    width: 100%;
    height: 0;
    color: transparent;
  }
}

div {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid;
  border-top: 0.5rem solid;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360000deg)
  }
}