@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

:root {
  --background: #1f1f1f;
  --background2: black;
  --element: white;
}


html,
body {
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(var(--background), var(--background2));
  transition: background-image 0.5s;
}

body,
section,
#configs,
#themes,
#player,
#playback {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#player,
#playback {
  margin-bottom: 1rem;
}

section {
  flex-direction: column;
  align-items: center;
}

article {
  width: 100%;
}

#configs a {
  text-decoration: none;
  color: var(--element);
}


.hidden,
#themes.hidden,
div.hidden {
  display: none;
}

#themes span {
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#themes span:nth-of-type(1) {
  color: var(--background);
}

#themes span:nth-of-type(2) {
  color: #de6262;
}

#themes span:nth-of-type(3) {
  color: #6dd5ed;
}

#themes span:nth-of-type(4) {
  color: #a8e063;
}



img {
  object-fit: cover;
  box-shadow: 0 0.7rem 3.5rem #0007;
  border-radius: 0.85rem;
}

img,
input[type="text"],
audio {
  width: 80%
}

h3,
h5 {
  color: var(--element);
  transition: color 0.5s;
  width: 80%;
  text-align: center;
}

input[type=text] {
  height: 2.5rem;
  border-radius: 2rem;
  background: none;
  border: none;
  text-align: center;
  outline: none;
  opacity: 75%;
  color: var(--element);
  background-color: var(--background);
}

input::placeholder {
  color: var(--element);
  transition: color 1s;
}



[data-badge]:after {
  background: var(--element);
  border-radius: 1rem;
  color: var(--background);
  content: attr(data-badge);
  font-size: 1.25rem;
  min-width: 3rem;
  position: absolute;
  text-align: center;
  transition: background 0.5s, color 1s;
}

[data-badge^="-"]:after,
[data-badge=""]:after,
[data-badge="0"]:after {
  display: none;
}

/* #player button {
  border: none;
  background: none;
  border: 0.15rem solid var(--element);
  color: var(--element);
} */

/* #player button,
#configs a {
  border: 0.15rem solid var(--element);
  border-radius: 1.25rem;
  padding: 0.25rem 1rem;
} */

.btn[disabled] {
  color: #7777;
  border: 0.15rem solid #7777;
  cursor: default;
}

.btn {
  border: 0.15rem solid var(--element);
  border-radius: 1.25rem;
  padding: 0.25rem 1rem;
  background-color: var(--background2);
  color: var(--element);
  cursor: pointer;
}

.btn:not([disabled]):hover,
.on {
  background-color: var(--element);
  color: var(--background2);
  border-color: transparent;
  transition: background-color 0.25s, color 0.25s;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  background-color: var(--background2);
  height: 6px;
  border-radius: 12px;
  border: solid 2px var(--element);
}

input[type="range"]::-moz-range-track {
  background-color: var(--background);
  height: 6px;
  border-radius: 12px;
  border: solid 2px var(--element);
}

input[type=range]::-moz-range-thumb {
  background-color: var(--background2);
  height: 16px;
  width: 16px;
  border-radius: 32px;
  border: solid 2px var(--element);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background-color: var(--background2);
  border-radius: 12px;
  border: 2px solid var(--element);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid var(--element);
  height: 16px;
  width: 16px;
  border-radius: 32px;
  background-color: var(--background2);
  margin-top: -6px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background-color: var(--background);
  border: 2px solid var(--element);
  border-radius: 12px;
}

input[type=range]::-ms-fill-upper {
  background-color: var(--background2);
  border: 2px solid var(--element);
  border-radius: 12px;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 2px solid var(--element);
  height: 16px;
  width: 16px;
  border-radius: 32px;
  background-color: var(--background2);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 36px;
  line-height: 1;
  transition: border-radius ease-in-out 0.3s;
}

select:focus {
  border-radius: 0.2rem;
}

#controls {
  width: 80%;
  flex-wrap: wrap;
  margin-top: 10px;
}

#controls,
#controls div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 5px;
}

#controls div>* {
  vertical-align: middle;
}

#progress,
#volume,
#play-controls {
  flex-grow: 15;
}

#volume-controls {
  flex-grow: 1;
}


span,
i,
input,
h3,
a,
img,
button,
select {
  animation: appear 0.5s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media(orientation:landscape) {
  img {
    width: 25%;
  }

  article {
    display: flex;
  }

  #player,
  #playback {
    margin-bottom: 0
  }
}

/* for 404 page */

#404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
}
