header {
  display: flex;
  justify-content: space-between;

  label {
    cursor: pointer;
  }

  input {
    display: none;
  }

  #syncNow {
    cursor: pointer;
    font-size: var(--font-size-3);
    margin-right: calc(var(--size-7) + var(--size-1));
    margin-top: var(--size-0);

    &.ri-loader-3-line {
      pointer-events: none;
    }

    &.error {
      color: #f20a;
    }
  }

  .on {
    background-color: var(--text) !important;
    color: var(--bg) !important;
  }

}




.library,
.hub {
  overflow-y: auto;
  width: 100%;
  margin-bottom: var(--size-10);

  .gallery-article {
    grid-column: span 2;

    >div {
      .listItem {
        p.title {
          max-height: var(--size-4) !important;
        }
      }
    }
  }

  article {
    margin-bottom: var(--size-5);


    >p {
      display: inline-block;
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-4);
      letter-spacing: var(--font-letterspacing-2);
      color: var(--text2);
      opacity: 0.7;
      width: calc(100% - var(--size-8));

    }


    &.subfeed,
    &.gallery-article {
      >p {
        width: calc(100% - var(--size-11) + var(--size-6));
      }

      >.loading {
        display: inline-block;
        animation: spinner 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite !important;

        &::after {
          display: none
        }
      }
    }

    >i {
      font-size: var(--font-size-3);
      cursor: pointer;
      padding: var(--size-1) var(--size-2);
      margin-right: var(--size-2);
      border-radius: var(--roundness);

      &:hover {
        background: var(--onBg2);
        color: var(--text2);
      }

    }

    >div {
      display: flex;
      border-radius: var(--roundness);
      background-color: var(--onBg);
      border: var(--border);
      margin: var(--size-2) 0;
      overflow: hidden;
    }

    >div:has(.listItem) {
      overflow-x: scroll;
      padding: var(--size-2);
      padding-bottom: 0;
      gap: var(--size-1);

      .listItem {
        width: var(--size-11);
        flex-shrink: 0;
        margin: 0;
        background-color: transparent;
        border: none;

      }

    }

    >.userArtists {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-bottom: 0 !important;
      border-bottom: 0;
      margin-bottom: 0;
    }

    >.relatedPlaylists {
      padding-top: 0 !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
      margin: 0;

      img {
        border-top-left-radius: var(--radius-4);
        border-bottom-right-radius: var(--radius-4);
      }
    }

    >.relatedArtists {
      img {
        border-radius: var(--radius-round) !important;
      }

      margin: 0;
      border-radius: 0;
      border-top: 0;
      border-bottom: 0;
      padding-top: 0 !important;
    }


    >div:has(.streamItem) {
      width: 100%;
      flex-direction: column;

      .streamItem {
        margin-bottom: 0;
        width: 100%;
        border-radius: 0;
        flex-shrink: 0;

        .title {
          height: var(--size-4);
          text-overflow: clip;
        }
      }
    }

  }

  a {
    text-decoration: none;
    cursor: pointer;
  }


  a.clxn_item {
    display: flex;
    align-items: center;
    padding: var(--size-1);
    color: var(--text);
    font-size: var(--font-size-2);

    i {
      margin-right: var(--size-2);
    }

    &:hover {
      background-color: var(--onBg);
      border-radius: var(--roundness);
    }
  }


  input[type="text"] {
    width: 100%;
    outline: none;
    border-radius: var(--roundness);
    margin: 0;
    margin-bottom: var(--gap);
    background: var(--onBg);
    border: var(--border);

    &::placeholder {
      color: var(--text);
    }
  }


}