#listSection>header {
  position: sticky;
  top: 0;
  z-index: 20;
  background:
    linear-gradient(to right, var(--trueBg), transparent, var(--trueBg)),
    linear-gradient(var(--trueBg), transparent);
  backdrop-filter: blur(var(--size-px-3));

  >p {
    overflow: clip;
    text-overflow: ellipsis;
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &~li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.listContainer {
  margin-bottom: var(--size-fluid-6);
}

#viewOnYTBtn,
#subscribeListBtn {
  i {
    &:after {
      content: attr(data-state);
      font-family: inherit;
    }
  }
}

.markBar {
  i {
    font-size: var(--font-size-3);
    padding: var(--size-1);

    &:hover {
      background-color: var(--onBg2);
      color: var(--text2);
    }
  }

  .ri-indeterminate-circle-line,
  .ri-list-check-2 {
    margin-left: var(--size-3);
  }

  :nth-last-of-type(1) {
    margin-left: var(--size-3);
    font-style: normal;
  }
}

.marked {
  filter: invert();

  img {
    filter: invert();
  }

}

.list-thumbnail {
  border-radius: var(--roundness);
}

#listSection {
  width: 100%;

  &:has(>img) {

    .listContainer {
      border-radius: var(--roundness);
      overflow: hidden;
      margin-top: var(--gap);
    }

    .streamItem {
      margin-bottom: 0;
      width: 100%;
      border-radius: 0;
      flex-shrink: 0;

      .title {
        height: var(--size-4);
        text-overflow: clip;
      }
    }
  }
}

#collectionSelector {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  appearance: none;
  background: transparent;
  padding: 0;
  color: inherit;
}

.albums-carousel {
  display: flex;
  overflow: auto;
  background-color: var(--onBg);
  border-radius: var(--roundness);
  margin-bottom: var(--size-2);
  padding: var(--size-1);
  border: var(--border);

  .listItem {
    width: var(--size-11);
    flex-shrink: 0;
    margin: 0;
    background-color: transparent;
    border: none;

  }

}