#listSection {
  width: 100%;
}

#listSection>header {
  position: sticky;
  top: 0;
  z-index: 20;
  background: linear-gradient(to right, var(--trueBg), transparent, var(--trueBg));
  backdrop-filter: blur(var(--size-px-3));

  >p {
    overflow: clip;
    text-overflow: ellipsis;
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.listContainer {
  margin-bottom: var(--size-fluid-6);
}

#viewOnYTBtn,
#subscribeListBtn {
  i {
    &:after {
      content: attr(data-state);
      font-family: inherit;
    }
  }
}

.markBar {
  i {
    font-size: var(--font-size-3);
    padding: var(--size-1);

    &:hover {
      background-color: var(--onBg2);
      color: var(--text2);
    }
  }

  .ri-indeterminate-circle-line {
    margin: 0 var(--size-3);
  }

  .ri-play-list-2-fill {
    margin-left: var(--size-3);
  }
}

.marked {
  filter: invert();

  img {
    filter: invert();
  }

}