#listSection {
  width: 100%;
}

#listSection>header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-image: linear-gradient(to right, var(--bg), transparent, var(--bg));
  backdrop-filter: blur(var(--size-px-1));

  >p {
    overflow: clip;
    text-overflow: ellipsis;
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}


#viewOnYTBtn,
#subscribeListBtn {
  i {
    &:after {
      content: attr(data-state);
      font-family: inherit;
    }
  }
}

.markBar {
  i {
    font-size: var(--font-size-3);
  }

  .ri-indeterminate-circle-line {
    margin: 0 var(--size-3);
  }
}

.marked {
  filter: invert();

  img {
    filter: invert();
  }

}