#listSection {
  width: 100%;
}

#listSection>header {
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg);

  &:not(:has(details[open])) {
    /* --scheme required in dark mode*/
    background: linear-gradient(to right, var(--scheme), transparent, var(--scheme));
    /* --bg required in dark mode*/
    background: linear-gradient(to right, var(--trueBg), transparent, var(--trueBg));
    backdrop-filter: blur(var(--size-px-1));
  }

  >p {
    overflow: clip;
    text-overflow: ellipsis;
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}


#viewOnYTBtn,
#subscribeListBtn {
  i {
    &:after {
      content: attr(data-state);
      font-family: inherit;
    }
  }
}

.markBar {
  i {
    font-size: var(--font-size-3);
  }

  .ri-indeterminate-circle-line {
    margin: 0 var(--size-3);
  }
}

.marked {
  filter: invert();

  img {
    filter: invert();
  }

}