#listSection>header {
  >p {
    overflow: clip;
    text-overflow: ellipsis;
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &~li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.listContainer {
  margin-bottom: var(--size-fluid-6);
}

.markBar {
  i {
    font-size: var(--font-size-3);
    padding: var(--size-1);
    border-radius: var(--roundness);
    cursor: pointer;

    &:hover {
      background-color: var(--onBg2);
      color: var(--text2);
    }
  }

  .ri-indeterminate-circle-line,
  .ri-list-check-2 {
    margin-left: var(--size-3);
  }

  :nth-last-of-type(1) {
    margin-left: var(--size-3);
    font-style: normal;
  }
}

.marked {
  filter: invert();

  img {
    filter: invert();
  }
}

.list-thumbnail {
  border-radius: var(--roundness);
}

#listSection {
  width: 100%;

  &:has(>img) {
    .listContainer {
      border-radius: var(--roundness);
      overflow: hidden;
      margin-top: var(--gap);
    }

    .streamItem {
      margin-bottom: 0;
      width: 100%;
      border-radius: 0;
      flex-shrink: 0;

      .title {
        height: var(--size-4);
        text-overflow: clip;
      }
    }
  }
}


.sortBar {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;

  i {
    font-size: var(--font-size-4);
    cursor: pointer;

    &.active {
      background-color: var(--onBg2);
      color: var(--text2);
      border-radius: var(--roundness);
    }

    &.ri-draggable {
      margin-right: var(--size-2);
    }
  }

      #sortMenu {
      margin-right: auto;
    }
  }
  
  .loadAllBtn {
    margin: var(--gap) auto;
    padding: var(--size-2) var(--size-4);
    border-radius: var(--roundness);
    border: var(--border);
    background-color: var(--onBg);
    color: var(--text);
    font-size: var(--font-size-1);
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    width: fit-content;
  
    &:hover {
      background-color: var(--onBg2);
      color: var(--text2);
    }
  }
  