.searchSection {

  header {
    display: flex;
    justify-content: space-between;
  }

  .superInputContainer {
    height: auto;
    margin: 0;
    padding: calc(var(--gap) / 2) var(--gap);
    position: sticky;
    z-index: 3;
    top: var(--gap);
    border: var(--border);
    box-shadow: var(--shadow-1);
    border-radius: var(--roundness);
    display: flex;
    align-items: center;
    background-color: var(--blurMix);
    backdrop-filter: blur(var(--size-px-2));

    &:focus-within {
      transform: scale(1.03);
      background-color: var(--scheme);
      backdrop-filter: none;
    }

    .superInput {
      border: none;
      padding: 0;
      height: 100%;
      width: 100%;
      outline: none;
      background: none;
      color: none;
      font-size: medium;

      &::-webkit-search-cancel-button {
        appearance: none;
      }


      &::placeholder {
        color: inherit;
        opacity: 75%;
      }
    }

    .suggestions {
      max-height: var(--size-fluid-9);
      width: auto;
      z-index: 3;
      position: absolute;
      list-style-type: none;
      padding: 0;
      top: calc(var(--size-4) * 2);
      left: var(--gap);
      background-color: var(--scheme);
      border-radius: 0 0 var(--roundness) var(--roundness);
      box-shadow: var(--shadow-1);
      display: block;
      user-select: none;
      overflow: hidden;

      li {
        padding: var(--size-1) var(--size-2);
        background-color: var(--onBg);
        margin-bottom: var(--size-px-1);

        &:hover,
        &:focus,
        &.hover {
          background-color: var(--text);
          color: var(--bg);
        }
      }
    }

    .searchFilters {
      font-size: medium;
      background: none;
      max-width: var(--size-10);
      margin-left: var(--gap);
      padding: 0;
      border: none;
      color: inherit;
      text-align: right;
      outline: none;
      appearance: none;
    }
  }



  .searchlist {
    z-index: 1;
    margin-top: var(--gap);

  }
}