@import 'open-props/normalize.min.css';
@import 'remixicon.css';
@import 'header.css';
@import 'footer.css';

:root {
  --source: initial;
  --schemeMultiplier: initial;
  --bg: initial;
  --text: initial;
  --chroma: 0;
  --scheme: color-mix(in srgb, oklch(from var(--source) 70% calc(c * var(--chroma)) h), var(--bg) 85%);
  --onBg: color-mix(in srgb, oklch(from var(--source) 85% calc(c * var(--chroma)) h), var(--bg) 85%);
  --onBg2: color-mix(in srgb, oklch(from var(--source) 80% calc(35% * var(--chroma)) h), var(--bg) 70%);
  --blurMix: color-mix(in srgb, oklch(from var(--onBg) l calc(c * var(--chroma)) / 0.1), var(--bg) 40%);
  --text2: color-mix(in srgb, oklch(from var(--source) 50% calc(80% * var(--chroma)) h), var(--text) 75%);
  --gap: var(--size-fluid-2);
  --borderColor: oklch(from var(--text) l c h / 0.2);
  --border: var(--border-size-1) solid var(--borderColor);
  --roundness: 0.4rem;
  --blur: blur(var(--size-px-3));
  --player-bg: none;
  --player-bp: 0 0;
  --landscapeSections: 2;
  --trueBg: var(--bg);
  --font: ui-rounded, Segoe UI, source-sans-pro, Inter, Noto Sans, Oxygen, Calibri, Cantarell, Ubuntu, Roboto, system-ui, Open Sans, Helvetica Neue, sans-serif;
}





html {
  height: 100dvh;
  background: var(--trueBg);
}

body {
  height: 100dvh;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
}

main {
  color: color-mix(in srgb, oklch(from var(--source) 50% calc(c * var(--chroma)) h), var(--text) 80%);
  display: flex;
  height: 100%;
  overflow-x: auto;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  section {
    height: 100%;
    flex: 1 0 0;
    padding: var(--gap) var(--size-fluid-3);
    padding-top: 0;
    overflow-y: auto;
    scroll-snap-align: start;
    min-width: calc(100dvw / var(--landscapeSections));
    flex-shrink: 0;

  }


  @media(orientation:landscape) {
    section:first-child {
      padding-left: var(--size-fluid-5);
    }

    section:last-child {
      padding-right: var(--size-fluid-5);
    }

    section:only-child {
      .hub {

        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--gap);

      }


      &:has(>img) {
        overflow: initial !important;

        .list-thumbnail {
          display: inline-block;
          height: calc(100% - var(--size-12));
          margin: 0;
          margin-right: var(--gap);
          vertical-align: middle;
        }

        .listContainer {
          height: calc(100% - var(--size-10));
          width: calc(100% - var(--size-13));
          display: inline-block;
          vertical-align: top;
          margin: 0 !important;
          overflow-y: auto !important;
        }
      }


      .searchlist,
      .listContainer {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        .streamItem {
          display: inline-flex;
          width: 100%;
          grid-column: span 2;
          margin: 0;
        }

        .listItem {
          width: 100%;
          grid-column: span 1;
          margin: 0;
        }

      }
    }

  }

  @media (orientation: portrait) {

    section {
      flex: 0 0 100%;
      scroll-snap-align: center;
      padding: 0 var(--gap);
    }
  }


}



dialog {
  width: 100dvw;
  border-radius: 0;
  box-shadow: none;

  @media(orientation:landscape) {
    width: calc(100dvw / 1.5);
    margin-left: calc(100dvw / 3);
  }

  &::backdrop {
    background: none;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0turn)
  }

  to {
    transform: rotate(1turn)
  }
}

.ri-loader-3-line {
  display: block;
  font-size: var(--font-size-6);
  animation: spinner 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  text-align: center;
  margin-top: auto;
}


select {
  font-family: inherit;
  background: none;
  outline: none;
  color: var(--text);

  /* fix white on white issue on dark mode */
  option,
  optgroup {
    cursor: pointer;
    background: var(--bg);
  }
}

a {
  color: var(--text);
}

.displayer {
  white-space: pre;
  background: var(--onBg);
  box-shadow: var(--shadow-1);
  border: var(--border);
  color: var(--text);
  border-radius: var(--roundness);
  width: calc(100dvmin - calc(var(--gap) - var(--border-size-1)) * 2);
  margin: auto;

  &::backdrop {
    background-color: #0007;
  }

  &[open] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap);
  }

  input {
    background: none;
    border-bottom: var(--border);
    font-weight: var(--font-weight-5);
    height: var(--size-7);
    font-size: var(--font-size-2);

    &::placeholder {
      color: inherit;
    }

    &:disabled {
      opacity: 0;
    }
  }

  span {
    width: 100%;
    display: flex;
    margin-top: var(--size-2);

    button {
      background-color: var(--text);
      color: var(--onBg);
      border-radius: var(--roundness);
    }

    button.ri-close-large-line {
      margin-left: auto;
    }
  }

  h4 {
    margin-bottom: var(--size-4);
  }

}

i {
  cursor: pointer;
  position: relative;
}

/* button hover info */
i[aria-label]:hover::after {
  pointer-events: none;
  position: absolute;
  content: attr(aria-label);
  font-size: var(--font-size-0);
  font-family: var(--font);
  font-weight: var(--font-weight-6);
  background: var(--text);
  color: var(--bg);
  right: var(--size-8);
  z-index: 100;
  padding: var(--size-px-1) var(--size-px-2) !important;
  border-radius: var(--roundness);
  animation: appear 1s;
}

@keyframes appear {

  from,
  90% {
    opacity: 0;
  }

  75% {
    transform: translateX(var(--size-8));
  }
}