@import 'open-props/normalize.min.css';
@import 'remixicon.css';
@import 'header.css';

:root {
  --bg: transparent;
  --onBg: transparent;
  --text: black;
  --radius: var(--radius-2);
  --borderColor: transparent;
  --border: var(--borderColor) solid var(--text);
  --shadowColor: transparent;
  --shadow: 0 0.5vmin 1.5vmin var(--shadowColor);
  --roundness: 0.4rem;
  --blur: blur(var(--size-1));
  --player-bg: none;
  --player-bp: 0 0;
  --font: var(--font-system-ui, var(--font-rounded-sans, var(--font-industrial, var(--font-monospace-code, var(--font-antique, var(--font-handwritten, var(--font-monospace-slab-serif)))))));
  --landscape-sections: 3;
}

* {
  transition: all 0.4s ease;
}

html,
body {
  height: 100dvh;
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
}

main {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  height: 100%;
  overflow-x: auto;
  flex-direction: row;
  scroll-snap-type: x mandatory;


  section {
    height: 100%;
    flex: 1 0 0;
    padding: var(--size-3);
    padding-top: 0;
    overflow-y: auto;
    scroll-snap-align: start;
    min-width: calc(100dvw / var(--landscape-sections));
    flex-shrink: 0;
  }

  @media (orientation: portrait) {

    section {
      flex: 0 0 100%;
      scroll-snap-align: center;
    }
  }
}



dialog {
  width: 100dvw;
  border-radius: 0;
  box-shadow: none;

  @media(orientation:landscape) {
    width: calc(100dvw / 1.5);
    margin-left: calc(100dvw / 3);
  }

  &::backdrop {
    background: none;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0turn)
  }

  to {
    transform: rotate(1turn)
  }
}

.ri-loader-3-line {
  display: block;
  font-size: var(--font-size-6);
  animation: spinner 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  text-align: center;
  margin-top: auto;
}