@import 'open-props/normalize.min.css';
@import 'patterns.css';
@import 'layout.css';
@import 'footer.css';
@import 'remixicon.css';
@import 'tooltips.css';

:root {
  --source: initial;
  --schemeMultiplier: initial;
  --bg: initial;
  --text: initial;
  --chroma: 0;
  --scheme: color-mix(in srgb, oklch(from var(--source) 70% calc(c * var(--chroma)) h), var(--bg) 85%);
  --onBg: color-mix(in srgb, oklch(from var(--source) 85% calc(c * var(--chroma)) h), var(--bg) 85%);
  --onBg2: color-mix(in srgb, oklch(from var(--source) 80% calc(35% * var(--chroma)) h), var(--bg) 70%);
  --blurMix: color-mix(in srgb, oklch(from var(--onBg) l calc(c * var(--chroma)) / 0.1), var(--bg) 40%);
  --text2: color-mix(in srgb, oklch(from var(--source) 50% calc(80% * var(--chroma)) h), var(--text) 75%);
  --gap: var(--size-fluid-2);
  --borderColor: oklch(from var(--text) l c h / 0.2);
  --border: var(--border-size-1) solid var(--borderColor);
  --roundness: 0.4rem;
  --blur: blur(var(--size-px-3));
  --player-bg: none;
  --player-bp: 0 0;
  --landscapeSections: 2;
  --trueBg: var(--bg);
  --font: ui-rounded, Segoe UI, source-sans-pro, Inter, Noto Sans, Oxygen, Calibri, Cantarell, Ubuntu, Roboto, system-ui, Open Sans, Helvetica Neue, sans-serif;
}

html {
  height: 100dvh;
  background: var(--trueBg);
}

body {
  height: 100dvh;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
}

select {
  font-family: inherit;
  background: none;
  outline: none;
  color: var(--text);

  option,
  optgroup {
    cursor: pointer;
    background: var(--bg);
  }
}

a {
  color: var(--text);
}

i {
  cursor: pointer;
  position: relative;
}