@import 'open-props/normalize.min.css';
@import 'remixicon.css';
@import 'header.css';
@import "@fontsource-variable/atkinson-hyperlegible-next";

:root {
  --source: initial;
  --sourceInverse: initial;
  --schemeMultiplier: initial;
  --bg: initial;
  --scheme: color-mix(in srgb, oklch(from var(--source) 50% c h), var(--bg) 80%);
  --onBg: color-mix(in srgb, oklch(from var(--source) 50% c h), var(--bg) 90%);
  --onBg2: color-mix(in srgb, oklch(from var(--source) 50% c h / 0.7), var(--bg) 60%);
  --surface: color-mix(in srgb, rgba(from var(--onBg) r g b / 1), var(--bg) 80%);
  --blurMix: color-mix(in srgb, rgba(from var(--onBg) r g b / 0.1), var(--bg) 40%);
  --text: color-mix(in srgb, oklch(from var(--source) 50% 80% h), var(--sourceInverse) 95%);
  --text2: color-mix(in srgb, oklch(from var(--source) 50% 80% h / 0.9), var(--sourceInverse) 75%);
  --gap: var(--size-fluid-2);
  --borderColor: oklch(from var(--text2) l c h / 0.1);
  --border: var(--border-size-1) solid var(--borderColor);
  --roundness: 0.4rem;
  --blur: blur(var(--size-px-3));
  --player-bg: none;
  --player-bp: 0 0;
  --landscape-sections: 3;
}

* {
  transition: all 0.4s;
}



html {
  height: 100dvh;
  background: var(--scheme);
}

body {
  height: 100dvh;
  font-family: "Atkinson Hyperlegible Next Variable", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(var(--bg), transparent);
}

main {
  color: color-mix(in srgb, oklch(from var(--source) 50% c h), var(--sourceInverse) 80%);
  display: flex;
  height: 100%;
  overflow-x: auto;
  flex-direction: row;
  scroll-snap-type: x mandatory;


  section {
    height: 100%;
    flex: 1 0 0;
    padding: var(--gap) calc(var(--gap) / 2);
    padding-top: 0;
    overflow-y: auto;
    scroll-snap-align: start;
    min-width: calc(100dvw / var(--landscape-sections));
    flex-shrink: 0;

    &:first-child {
      padding-left: var(--gap);
    }

    &:last-child {
      padding-right: var(--gap);
    }
  }


  @media (orientation: portrait) {

    section {
      flex: 0 0 100%;
      scroll-snap-align: center;
      padding: 0 var(--gap);
    }
  }
}



dialog {
  width: 100dvw;
  border-radius: 0;
  box-shadow: none;

  @media(orientation:landscape) {
    width: calc(100dvw / 1.5);
    margin-left: calc(100dvw / 3);
  }

  &::backdrop {
    background: none;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0turn)
  }

  to {
    transform: rotate(1turn)
  }
}

.ri-loader-3-line {
  display: block;
  font-size: var(--font-size-6);
  animation: spinner 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  text-align: center;
  margin-top: auto;
}


select {
  font-family: inherit;
  background: none;
  color: var(--text);

  /* fix white on white issue on dark mode */
  option,
  optgroup {
    cursor: pointer;
    background: var(--bg);
  }
}

a {
  color: var(--text);
}