section:has(header>details[open]) {

  >div,
  img,
  article {
    filter: blur(var(--size-px-1));
    pointer-events: none;
  }
}

section>header {
  position: relative;
  width: 100%;
  padding: var(--gap) 0;
  color: var(--text);

  >p {
    font-size: var(--font-size-3);
    letter-spacing: var(--font-letterspacing-1);
    font-weight: var(--font-weight-5);
    white-space: nowrap;
    width: calc(100% - var(--size-11));
    user-select: none;
    opacity: 0.8;
  }

  >i,
  div>i {
    font-size: var(--font-size-4);
    opacity: 0.8;
    padding: 0 var(--size-2);
    border-radius: var(--roundness);

    &:hover {
      opacity: 1;
      background-color: var(--onBg2);
      color: var(--text2);
    }
  }

  .right-group {
    margin-left: auto;
    margin-right: calc(var(--size-7) + var(--size-1));
    margin-top: var(--size-0);

    i {
      font-size: var(--font-size-3);
    }

    display:flex;
    gap:var(--size-2);


  }


  >.ri-close-large-line {
    font-size: var(--font-size-3);
  }

  .ri-more-2-fill {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
    margin-left: var(--size-5);
  }

  details {
    width: auto;
    position: absolute;
    top: var(--gap);
    right: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    background: none;

    summary {
      background: none;
      list-style: none;
      padding: 0;
      margin: 0 0 var(--gap) auto;
      width: var(--size-7);
      font-size: var(--font-size-3);
      aspect-ratio: 1;
      border-radius: var(--roundness);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-in;
      cursor: pointer;

      i {
        margin: auto 0;
        margin-right: var(--size-2);
      }
    }

    ul {
      background: rgb(from var(--onBg) r g b / 0.8);
      backdrop-filter: blur(var(--size-px-2));
      color: var(--text);
      padding: 0;
      list-style: none;
      overflow: hidden;
      border: var(--border);
      border-radius: var(--roundness);
      box-shadow: var(--shadow-2);

      li {
        font-size: var(--font-size-1);
        padding: var(--size-1) var(--size-2);
        border-bottom: var(--border);
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;

        &:last-child {
          border: none;
        }

        i {
          margin-right: var(--size-1);
        }

        &:hover {
          background-color: var(--onBg2);
          color: var(--text2);
        }
      }
    }
  }
}