/* App Layout Shell */

/* --- Header & Navigation --- */
section:has(header>details[open]) {
  >*:not(header) {
    filter: blur(var(--size-px-1));
    pointer-events: none;
  }
}

section>header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: var(--gap) 0;
  color: var(--text);

  input {
    display: none;
  }

  >p {
    font-size: var(--font-size-3);
    letter-spacing: var(--font-letterspacing-1);
    font-weight: var(--font-weight-5);
    white-space: nowrap;
    width: calc(100% - var(--size-11));
    user-select: none;
    opacity: 0.8;
  }

  >i,
  div>i {
    font-size: var(--font-size-4);
    opacity: 0.8;
    padding: 0 var(--size-2);
    border-radius: var(--roundness);
    cursor: pointer;

    &:hover {
      opacity: 1;
      background-color: var(--onBg2);
      color: var(--text2);
    }
  }

  .right-group {
    margin-left: auto;
    margin-right: calc(var(--size-7) + var(--size-1));
    margin-top: var(--size-0);
    display: flex;
    gap: var(--size-2);

    i {
      font-size: var(--font-size-3);
    }
  }

  >.ri-close-large-line {
    font-size: var(--font-size-3);
  }

  .ri-more-2-fill {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
    margin-left: var(--size-5);
  }

  /* Dropdown Menu */
  details {
    width: auto;
    position: absolute;
    top: var(--gap);
    right: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    background: none;

    summary {
      background: none;
      list-style: none;
      padding: 0;
      margin: 0 0 var(--gap) auto;
      width: var(--size-7);
      font-size: var(--font-size-3);
      aspect-ratio: 1;
      border-radius: var(--roundness);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-in;
      cursor: pointer;

      i {
        margin: auto 0;
        margin-right: var(--size-2);
      }
    }

    ul {
      background: rgb(from var(--onBg) r g b / 0.8);
      backdrop-filter: blur(var(--size-px-2));
      color: var(--text);
      padding: var(--size-1);
      list-style: none;
      overflow: hidden;
      border: var(--border);
      border-radius: calc(var(--roundness) * 1.3);
      box-shadow: var(--shadow-2);

      input {
        display: none;
      }

      li {
        font-size: var(--font-size-1);
        padding: var(--size-1) var(--size-2);
        border-radius: var(--roundness);
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;

        &:last-child {
          border: none;
        }

        i {
          margin-right: var(--size-1);
        }

        &:hover {
          background-color: var(--onBg2);
          color: var(--text2);
        }
      }
    }
  }
}


/* --- Main content area & Sections --- */
main {
  color: color-mix(in srgb, oklch(from var(--source) 50% calc(c * var(--chroma)) h), var(--text) 80%);
  display: flex;
  height: 100%;
  overflow-x: auto;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  section {
    height: 100%;
    flex: 1 0 0;
    padding: var(--gap) var(--size-fluid-3);
    padding-top: 0;
    overflow-y: auto;
    scroll-snap-align: start;
    min-width: calc(100dvw / var(--landscapeSections));
    flex-shrink: 0;
  }

  @media(orientation:landscape) {
    section:first-child {
      padding-left: var(--size-fluid-5);
    }

    section:last-child {
      padding-right: var(--size-fluid-5);
    }

    section:only-child {

      &:has(>img) {
        overflow: initial !important;

        .list-thumbnail {
          display: inline-block;
          height: calc(100% - var(--size-12));
          margin: 0;
          margin-right: var(--gap);
          vertical-align: middle;
        }

        .listContainer {
          height: calc(100% - var(--size-10));
          width: calc(100% - var(--size-13));
          display: inline-block;
          vertical-align: top;
          margin: 0 !important;
          overflow-y: auto !important;
        }
      }

      .searchlist,
      .listContainer {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--gap) !important;

        .streamItem {
          display: inline-flex;
          width: 100%;
          grid-column: span 4;
          margin: 0;
        }

        .listItem {
          width: 100%;
          grid-column: span 2;
          margin: 0;
        }
      }
    }
  }

  @media (orientation: portrait) {
    section {
      flex: 0 0 100%;
      scroll-snap-align: center;
      padding: 0 var(--gap);
    }
  }
}

/* --- Dialogs & Backdrops --- */
dialog {
  width: 100dvw;
  border-radius: 0;
  box-shadow: none;

  @media(orientation:landscape) {
    width: calc(100dvw / 1.5);
    margin-left: calc(100dvw / 3);
  }

  &::backdrop {
    background: none;
  }
}