i[aria-label]::after {
  position: absolute;
  content: attr(aria-label);
  font-size: var(--font-size-0);
  font-family: var(--font);
  font-weight: var(--font-weight-6);
  background: var(--text);
  color: var(--bg);
  right: var(--size-8);
  z-index: 100;
  padding: var(--size-px-1) var(--size-px-2) !important;
  border-radius: var(--roundness);
  white-space: nowrap;
  visibility: hidden;

  opacity: 0;
  transform: translateX(var(--size-2));
  pointer-events: none;
  transition: none;
}

i[aria-label].show::after {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}