#searchContainer,
#relatedStreamsContainer,
#settingsContainer,
#queuelistContainer {
	background-color: var(--accent);
	width: calc(90% - 2rem);
	padding: 1rem;
	height: calc(90% - 12rem - 1px);
	overflow: scroll;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	box-shadow: 0 0.1rem 0.3rem #0003;
}



/* settings */

#pipedInstances {
	box-shadow: none;
	color: var(--text)
}


#netlifyForm {
	background-color: var(--accent);
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	color: var(--text);
	outline: none;
	font-family: 'Noto Sans';
}

#netlifyForm::placeholder {
	color: var(--text)
}

#settingsContainer span {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#settingsContainer label {
	font-weight: bold;

}


#settingsContainer span button {
	margin: 0;
	background-color: var(--accent);
	font-weight: bold;
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	animation: none;
	color: var(--text);
	font-family: 'Noto Sans';
}

#settingsContainer span button:hover {
	background-color: #f007;
	color: #ddd;
}

#settingsContainer a {
	text-decoration: none;
	width: 2rem;
	text-align: center;
	transition: all 0.4s;
	border-radius: 0.7rem;
	border: 1px solid var(--border);
	background-color: var(--accent);
	color: var(--text);
}

#settingsContainer span .ri-telegram-line:hover {
	background-color: #08c;
	color: #ddd;
}

#settingsContainer span .ri-github-fill:hover {
	background-color: #333;
	color: #ddd;
}



/* search */
#searchContainer button {
	position: sticky;
	top: 0;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	font-weight: bold;
	color: var(--border);
	background-color: var(--accent);
	border-radius: 50%;
	border:1px solid var(--border);
	box-shadow: 0 0.1rem 0.3rem #0003;
}

/* related streams */

list-item {
	width: 100%;
	margin-top: 0.3rem;
	margin-bottom: 0.4rem;
	overflow: auto
}

list-item:hover,
list-item:focus {
	background-color: var(--accent);
}

.list-show {
	display: grid;
}



/* media rules */

@media (min-width:600px) {

	#relatedStreamsContainer,
	#searchContainer,
	#settingsContainer,
	#queuelistContainer {
		height: calc(90% - 9rem - 1px);
		grid-template-columns: auto auto;
	}
}