#searchContainer,
#relatedStreamsContainer,
#settingsContainer,
#queuelistContainer {
	background-color: var(--accent);
	width: calc(90% - 2rem);
	padding: 1rem;
	height: calc(90% - 12rem - 1px);
	overflow: scroll;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	box-shadow: 0 0.1rem 0.3rem #0003;
}



/* settings */

#pipedInstances {
	box-shadow: none;
	color: var(--text)
}


#netlifyForm {
	background-color: var(--accent);
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	color: var(--text);
	outline: none;
	font-family: 'Noto Sans';
}

#netlifyForm::placeholder {
	color: var(--text)
}

#settingsContainer span {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#settingsContainer label {
	font-weight: bold;
}

#settingsContainer a {
	display:inline-block;
	text-decoration: none;
	font-weight: bold;
	padding: 0.2rem;
	line-height:2rem;
	transition: all 0.4s;
	border-radius: 0.7rem;
	border: 1px solid var(--border);
	background-color: var(--accent);
	color: var(--text);
	margin-top: 1rem;
}

#settingsContainer a:hover {
	color: #ddd
}

#settingsContainer a:nth-of-type(1):hover {
	background-color: #f007
}

#settingsContainer a:nth-of-type(2):hover {
	background-color: #333
}

#settingsContainer a:nth-of-type(3):hover {
	background-image: linear-gradient(#2ae, #08c)
}


/* search */

#superInputContainer {
	height: 2rem;
	width: calc(100% - 1px);
	position: sticky;
	top: 0;
	background-color: var(--accent);
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	box-shadow: 0 0.1rem 0.3rem #0003;
	display: flex;
}

#superInput {
	border: none;
	height: 100%;
	width: 100%;
	text-align: center;
	color: var(--text);
	outline: none;
	font-family: 'Noto Sans';
	font-weight: bold;
	background: none;
}

#superInput::placeholder {
	color: var(--border)
}

#searchFilters {
	font-size: 0.7rem;
	padding: 0;
	border: none;
	color: var(--border);
	outline: none;
	font-family: 'Noto Sans';
	font-weight: bold;
	background: none;
}


#suggestions {
	max-height: 12rem;
	overflow: scroll;
	position: absolute;
	width: calc(90% - 4rem);
	background-color: var(--bg);
	list-style-type: none;
	padding: 0;
	margin-top: -1px;
	margin-left: 1rem;
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
	display: none;
	user-select: none;
}

#suggestions li {
	background-color: var(--accent);
	font-weight: bold;
	padding: 0.2rem 0 0.2rem 1rem;
	margin-top: 0.1rem;
}

#suggestions li:hover,
#suggestions li:focus {
	background-color: #39FC;
	color: #9CFC;
}



/* related streams */

list-item {
	width: 100%;
	margin-top: 0.3rem;
	margin-bottom: 0.4rem;
	overflow: auto
}

list-item:hover,
list-item:focus {
	background-color: var(--accent);
	border-radius: 0.5rem;
	border: 1px solid var(--border);
}

.list-show {
	display: grid;
}



/* media rules */

@media (min-width:600px) {

	#relatedStreamsContainer,
	#searchContainer,
	#settingsContainer,
	#queuelistContainer {
		height: calc(90% - 9rem - 1px);
		grid-template-columns: auto auto;
	}
}