#dataContainer {
	width: 90%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

img {
	height: auto;
	aspect-ratio: 16/9;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	-webkit-box-shadow: 0 0.1rem 0.3rem #0003;
	box-shadow: 0 0.1rem 0.3rem #0003;
}


#metadata {
	width: 100%;
	overflow: auto;
	margin-top: 1rem;
}

#title {
	font-size: 1rem;
	font-weight: bold;
	overflow: scroll;
	background-color: var(--accent);
	color: var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
	padding: 0.5rem;
	display: inline-block;
	margin-bottom: 0.2rem;
}

#author {
	padding: 0.35rem;
	font-size: 0.7rem;
	background-color: var(--accent);
	color: var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
}


#metadata a {
	text-decoration: none;
	color: inherit;
}


#bitrateSelector {
	font-size: 0.7rem;
	padding: 0.35rem 0;
	background-color: var(--accent);
	color: var(--border);
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	outline: none;
}

input[type="url"] {
	height: 2rem;
	display:block;
	box-sizing: border-box;
	min-width:13ch;
	text-align: center;
	margin: 0.5rem 0;
	color: var(--border);
	background-color: var(--accent);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
	font-family: 'Noto Sans';
	outline: none;
}

[type="url"]::placeholder {
	color: var(--text);
}


@media (min-width:600px) {
	#dataContainer {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	#metadata {
		margin-top: 0;
		margin-left: 0.5rem;
	}

	img,
	#metadata {
		width: 50%;
	}

	#title {
		font-size: 1.5rem;
	}

	#author,
	#bitrateSelector {
		font-size: 0.9rem;
	}
}
