#dataContainer {
	width: 90%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#img {
	height: auto;
	aspect-ratio: 16/9;
	border-radius: 0.7rem;
	border: 1px solid var(--border);
	-webkit-box-shadow: 0 0.1rem 0.3rem #0003;
	box-shadow: 0 0.1rem 0.3rem #0003;
}


#metadata {
	width: 100%;
	overflow: auto;
	margin-top: 1rem;
}

#title {
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--accent);
	color: var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
	padding: 0.5rem;
	display: inline-block;
	margin-bottom: 0.5rem;
}

#author {
	padding: 0.35rem;
	font-size: 0.7rem;
	background-color: var(--accent);
	color: var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
}


#metadata a {
	text-decoration: none;
	color: inherit;
}


#bitrateSelector,
#subtitleSelector,
#pipedInstances {
	font-size: 0.7rem;
	padding: 0.35rem 0;
	background-color: var(--accent);
	color: var(--border);
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	outline: none;
	font-family: 'Noto Sans';
}

#subtitleSelector {
	width: 15ch;
}

#superInputContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: calc(27ch + 2rem);
	color: var(--border);
	width:100%;
}

#superInput {
	border: none;
	background: none;
	height: 100%;
	text-align: center;
	color: var(--text);
	outline: none;
	width: 24ch;
	font-family: 'Noto Sans';
}

#superInput::placeholder {
	color: var(--border)
}

#searchFilters {
	font-size: 0.7rem;
	padding: 0;
	background-color: transparent;
	border: none;
	color: var(--border);
	outline: none;
	width: 9ch;
	font-family: 'Noto Sans';
}

button.ri-search-2-line {
	background: none;
	border: none;
}

#suggestions {
	max-height: 12rem;
	overflow: scroll;
	position: absolute;
	width: calc(27ch + 2rem);
	background-color: var(--bg);
	list-style-type: none;
	padding: 0;
	margin-top: 0.6rem;
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border: 1px solid var(--border);
	display: none;
	user-select: none;
}

#suggestions li {
	background-color: var(--accent);
	font-weight: bold;
	padding: 0.2rem 0 0.2rem 1rem;
	margin-top: 0.1rem;
}

#suggestions li:hover,
#suggestions li:focus {
	background-color: #39FC;
	color: #9CFC
}

@media (min-width:600px) {
	#dataContainer {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		justify-content: space-around;
	}

	#metadata {
		margin-top: 0;
		margin-left: 0.5rem;
	}

	#img,
	#metadata {
		width: 50%;
	}

	#title {
		font-size: 1.5rem;
	}

	#author,
	#bitrateSelector,
	#subtitleSelector {
		font-size: 1rem;
	}
}