footer {
  display: flex;
  height: 20%;
  width: 100%;
  border-radius: var(--roundedness);
  background-color: var(--onBg);
  color: var(--text);
  border: var(--border);
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: var(--shadow);
}


footer span {
  height: 4vmin;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--onBg);
  border-bottom: var(--border);
}

footer span p {
  margin: 0;
  font-size: 100%;
}

input[type='range'] {
  height: 50%;
  width: 70%;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0;
  background: none;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 1vmin;
  background-color: var(--onBg);
  border: var(--border);
  transform: scale(2);
}



#playerControls {
  height: calc(100% - 1rem);
  width: 100%;
  align-items: center;
}

#playerControls button {
  font-size: 4vmax;
  color: inherit;
}

@media(orientation:landscape) {
  #playerControls {
    display: flex;
    justify-content: space-evenly;
  }
}

@media(orientation:portrait) {

  #playerControls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5fr 3fr;
  }

  #playerControls * {
    text-align: center;
  }

  #playback,
  #volume {
    grid-column: auto / span 2;
    width: auto;
    margin: auto;
  }

  .spinner {
    margin: auto;
  }
}


footer button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: x-large;
  transition: all 0.5s;
}

.on {
  background-color: var(--accent);
  border: var(--border);
  border-radius: var(--roundedness);
}

.spinner {
  content: '';
  height: 7vmin;
  padding: 1vmin;
  aspect-ratio: 1;
  border: 0.4vmax solid transparent;
  border-top-color: black;
  border-radius: 50%;
  animation: spinner 1s ease-out infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0turn)
  }

  to {
    transform: rotate(1turn)
  }
}