footer {
  display: flex;
  height: 19%;
  width: 100%;
  border-radius: var(--roundness);
  background-color: var(--onBg);
  color: var(--text);
  border: var(--border);
  align-items: center;
  flex-direction: column;
  box-shadow: var(--shadow);
  overflow: hidden;
}

footer>span {
  height: 4vmin;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--onBg);
  border-bottom: var(--border);
  margin-bottom: 3vmin;

}

footer span p {
  margin: 0;
  font-size: large;
}

[type="range"] {
  height: 50%;
  width: 70%;
  appearance: none;
  cursor: pointer;
  margin: 0;
  background: none;
}

[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  width: 100%;
  height: 100%;
}

[type="range"]::-moz-range-track {
  appearance: none;
  width: 100%;
  height: 100%;
}

input::-webkit-slider-thumb {
  appearance: none;
  height: 100%;
  width: 1vmin;
  background-color: var(--text);
  border: var(--border);
  transform: scale(2);
}

input::-moz-range-thumb {
  appearance: none;
  height: 100%;
  width: 1vmin;
  background-color: var(--text);
  border: var(--border);
  transform: scale(2);
}



#volumeContainer {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--onBg);
  border-radius: var(--roundness);
  margin: auto 0;
  overflow: hidden;
}

#volumeContainer label {
  filter: invert();
  margin: 1vmin;
}

#volumeContainer input {
  width: 100%;
}

#volumeContainer input::-webkit-slider-thumb {
  border: none;
  transform: none;
  box-shadow: -55vw 0 0 55vw var(--text);
}

#volumeContainer input::-moz-range-thumb {
  border: none;
  transform: none;
  box-shadow: -55vw 0 0 55vw var(--text);
}


#playerControls {
  height: 100%;
  width: 100%;
}

#playerControls button {
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: x-large;
  transition: all 0.5s;
}



@media(orientation:landscape) {
  #playerControls {
    display: flex;
    justify-content: space-evenly;
  }

  #volumeContainer {
    height: 60%;
  }
}


@media(orientation:portrait) {

  #playerControls {
    display: grid;
    grid-template-areas:
      "A B C D E"
      "F G G G H";
  }

  #playPrevButton {
    grid-area: A;
  }

  #seekBwdButton {
    grid-area: B;
  }

  #playButton {
    grid-area: C;
  }

  #seekFwdButton {
    grid-area: D;
  }

  #playNextButton {
    grid-area: E;
  }

  #loopButton {
    grid-area: F;
    width: 15vmin;
    font-size: medium !important;
    font-weight: bold;
  }

  #volumeContainer {
    grid-area: G;
    width: 60vw;
    margin: auto;
  }

  #playSpeed {
    grid-area: H;
    font-weight: bold;
    width: 7ch;
    margin: auto;
  }

  #playerControls * {
    text-align: center;
  }
}

#playButton {
  transform: scale(1.7) translateY(1%);
}

#playButton:active {
  transform: scale(1.5) translateY(2%);
}

.on {
  text-shadow: 0 0 1vmin var(--text);
}