section>header {
  position: relative;
  width: 92%;
  padding: 4dvmin 0;

  >p {
    font-size: x-large;
    font-weight: bold;
  }

  details {
    width: auto;
    position: absolute;
    top: 4dvmin;
    right: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    background: none;

    summary {
      background: none;
      list-style: none;
      text-align: right;
      padding: 0;
      margin: 0 0 1rem auto;
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-in;
      cursor: pointer;

      &:hover {
        background: var(--onBg);
      }

      i {
        margin: auto 0;
      }
    }

    ul {
      background: var(--onBg);
      backdrop-filter: blur(0.7rem);
      color: var(--text);
      padding: 0.5rem;
      list-style: none;
      border: var(--border);
      border-radius: var(--roundness);
      box-shadow: var(--shadow);

      li {
        font-size: 1rem;
        padding: 0.25rem;
        border-radius: var(--roundness);
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;

        &:has(a) {
          cursor: auto;
        }

        i {
          margin-right: 0.5rem;
        }

        &:hover {
          background: var(--text);
          color: var(--bg);
          filter: invert();
        }
      }
    }
  }
}