#home {
  align-items: center;
}

#subtitleContainer {
  pointer-events: none;
  position: absolute;
}


#subtitleContainer span {
  font-size: medium !important;
  font-family: 'Noto Sans';
}


#subtitleContainer div div div div {
  border-radius: var(--roundness);
  overflow: hidden;
}

#metadata {
  width: 96%;
  padding: 0 2%;
  display: grid;
  grid-template-areas:
    "A A A A"
    "B C D E";
}

#img {
  border: var(--border);
  border-radius: var(--roundness);
  box-shadow: var(--shadow);
}


#title {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 5%;
  grid-area: A;
}

#author {
  font-size: small;
  display: flex;
  align-items: center;
  grid-area: B;
}

#metadata select {
  font-family: inherit;
  font-size: small;
  text-align: right;
}

#bitrateSelector {
  max-width: 15ch;
  grid-area: C;
}

#subtitleSelector {
  max-width: 10ch;
  grid-area: D;
}

#favButton {
  display: none;
}

#favButton+label {
  text-align: right;
  font-size: x-large;
  font-weight: bold;
  grid-area: E;
}

#favButton:checked+label {
  animation: like 0.4s ease-in-out;
}

@keyframes like {
  50% {
    transform: scale(0.9);
  }
}

@media(orientation:portrait) {
  #img {
    height: 52vw;
    width: auto;
  }

  #home {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media(orientation:landscape) {
  #home {
    flex-direction: row;
    justify-content: space-between
  }

  img {
    width: auto;
    height: 45%;
  }

}