#home {
  height: auto;
  gap: 5vmin;
  width: 100%;
  padding: 5%;
  background: var(--onBg);
  --rx2: calc(var(--roundness)*1.5);


  #upperLayer {
    width: 100%;


    img {
      border: var(--border);
      border-radius: var(--roundness);
      width: 100%;

    }

    #meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      #upperButtonLayer {
        margin-top: 5vmin;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
          font-size: 1.4rem;
          line-height: 1.4rem;
          margin: 0;
          padding: 0;
        }

        #favButton {
          display: none;
        }
      }
    }




  }

  #trackline {
    width: 100%;

    input {
      width: 100%;
    }

    div {
      display: flex;
      justify-content: space-between;
    }

  }


  #playerControls {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      font-size: 1.6rem;
      color: var(--text);
      padding: 0;
    }

    #playButton {
      transform: scale(1.5)
    }
  }

  #selectors {
    display: flex;
    width: 100%;
    justify-content: space-between;

    select {
      font-size: 0.8rem;
      border-radius: 0;
    }


  }

  @media(orientation:portrait) {
    margin-top: auto;
    border-radius: var(--rx2) var(--rx2) 0 0;
    border-top: var(--border);
    flex-direction: column;
    animation-name: fromBelow;

    img {
      margin-bottom: 5%;
    }

    #volumeContainer input {
      display: none;
    }
  }

  @media(orientation:landscape) {
    width: calc(100% - 12vmin);
    margin: auto;
    border: var(--border);
    border-radius: var(--rx2);
    padding: 4vmin 8vmin;
    animation-name: fromLeft;

    #upperLayer {
      display: flex;
      justify-content: center;

      img {
        margin: auto;
        height: 6.6rem;
        width: auto;
      }

      #meta {

        width: 62%;
      }
    }
  }

}