@import 'open-props/normalize.min.css';
@import 'remixicon.css';
@import 'sliders.css';
@import 'header.css';
@import '../components/hub.css';

:root {
  --bg: transparent;
  --onBg: transparent;
  --text: black;
  --radius: var(--radius-2);
  --borderColor: transparent;
  --border: var(--border-size-1) solid var(--text);
  --shadowColor: transparent;
  --shadow: 0 0.5vmin 1.5vmin var(--shadowColor);
  --roundness: 0.4rem;
  --blur: blur(var(--size-1));
}

* {
  transition: all 0.4s ease;
}

html,
body {
  height: 100dvh;
}

body {
  font-family: var(--font-rounded-sans);
  -webkit-font-smoothing: antialiased;
}

main {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  height: 100%;
  overflow-x: auto;
  flex-direction: row;
  scroll-snap-type: x mandatory;


  section {
    height: 100%;
    flex: 1 0 0;
    padding: var(--size-3);
    padding-top: 0;
    overflow-y: auto;
    scroll-snap-align: start;
    min-width: calc(100dvw / 3);
    flex-shrink: 0;
  }

  @media (orientation: portrait) {

    section {
      flex: 0 0 100%;
      scroll-snap-align: center;
    }
  }
}



dialog {
  height: 100dvh;
  width: 100dvw;
  border-radius: 0;
  background: blue;
  box-shadow: none;

  @media(orientation:landscape) {
    width: calc(100dvw / 1.5);
    margin-left: calc(100dvw / 3);
  }

  &::backdrop {
    background: red;
  }
}