#library {
  h2 {
    width: 80%;
    margin: 2rem 0;
  }

  #collections {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    user-select: none;
    border-radius: calc(var(--roundness)*1.5);

    @media(orientation:portrait) {}

    @media(orientation:landscape) {
      grid-template-columns: auto auto auto auto;
    }
  }


  a.collectionItem {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    aspect-ratio: 1;
    margin: 0 4%;
    padding: 2%;
    font-size: larger;
    background-color: var(--onBg);
    color: var(--text);
    border: var(--border);
    border-radius: calc(var(--roundness)*1.5);


    i {
      font-size: xx-large;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }

  }

  div:last-child {
    display: flex;
    margin-top: 1vmin;

    label {
      background-color: var(--onBg);
      color: var(--text);
      border: var(--border);
      border-radius: var(--roundness);
      padding: 1vmin;
      margin: 0 3vmin;
      font-size: large;
    }
  }
}