#library {
  width: 100%;

  #superCollectionList {
    width: calc(100% - 2rem);

    a.clxn_item {
      background: var(--onBg);
      display: flex;
      align-items: center;
      padding: 2vmin;
      margin-top: 2vmin;
      border: var(--border);
      border-radius: var(--roundness);

      i {
        margin-right: 2vmin;
      }
    }
  }

  #libraryActions {
    display: flex;
    width: 100%;
    margin: 5% 0;
    justify-content: space-around;
    user-select: none;

    label {
      transition: transform 0.4s;

      &::after {
        content: attr(aria-label);
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


#superCollectionSelector {
  padding: 0 3vmin;
  margin: 0 2vmin;
}

input[type='radio'] {
  display: none;

  &:checked+label {
    background: var(--text);
    color: var(--bg);
    border: var(--border);
  }

  &+label {
    font-size: small;
    display: inline-block;
    padding: 1vmin 2vmin;
    margin: 1vmin 0;
    border-radius: var(--roundness);
  }

}