#library {
  width: 100%;

  div:first-child {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: 1rem;


    a {
      border: var(--border);
      background: var(--onBg);
      border-radius: var(--roundness);
      width: 10rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;

      i {
        pointer-events: none;
        font-size: 1.2rem;
        margin-right: 0.4rem;
      }
    }

  }

  select {
    margin: 1rem 0 1% 0;
    background: var(--onBg);
    border: var(--border);
    border-radius: var(--roundness);
    padding: 0.25rem 0.5rem;
  }

  #superCollectionList {
    width: calc(100% - 2rem);
  }

  div:last-child {
    display: flex;
    width: 100%;
    margin: 5% 0;
    justify-content: space-around;

    label {
      &:hover {
        transform: scale(1.1);
        border-bottom: var(--border);
      }
    }
  }
}