#listTools {

  li {
    i {
      pointer-events: none;
    }

    &::after {
      content: attr(aria-label);
    }
  }

  &.playlist {

    #clearListBtn,
    #removeFromListBtn,
    #sortCollectionBtn,
    #shareCollectionBtn,
    #radioCollectionBtn,
    #renameCollectionBtn,
    #deleteCollectionBtn {
      display: none
    }
  }


  &.channel {
    li {
      display: none;
    }

    #subscribeListBtn,
    #viewOnYTBtn {
      display: inline-block !important;
    }
  }

  &.reserved {
    li {
      display: none;
    }

    #clearListBtn,
    #removeFromListBtn {
      display: inline-block !important;
    }
  }

  &.collection {

    #clearListBtn,
    #importListBtn,
    #subscribeListBtn,
    #viewOnYTBtn {
      display: none;
    }

  }

  &.supermix,
  &.shared {
    li {
      display: none;
    }

    #importListBtn,
    #enqueueAllBtn {
      display: inline-block !important;
    }
  }
}

#listContainer {
  width: 92%;

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

#viewOnYTBtn,
#subscribeListBtn {
  i {
    &:after {
      content: attr(data-state);
      font-family: inherit;
    }
  }
}