#listTools {

  &.playlist {

    #clearListBtn,
    #removeFromListBtn,
    #shareCollectionBtn,
    #renameCollectionBtn,
    #deleteCollectionBtn {
      display: none
    }
  }


  &.channel {
    button {
      display: none;
    }

    #subscribeListBtn,
    #viewOnYTBtn {
      display: inline-block !important;
    }
  }

  &.reserved {
    button {
      display: none;
    }

    #clearListBtn,
    #removeFromListBtn {
      display: inline-block !important;
    }
  }

  &.collection {

    #clearListBtn,
    #importListBtn,
    #subscribeListBtn,
    #viewOnYTBtn {
      display: none;
    }

  }

  &.sharedClxn {
    button {
      display: none;
    }

    #importListBtn,
    #enqueueAllBtn {
      display: inline-block !important;
    }
  }
}

#playlist {
  width: 100%;

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

#list {
  width: 92%;
  margin: auto;
}

#viewOnYTBtn,
#subscribeListBtn {
  i {
    pointer-events: none;

    &:after {
      content: attr(data-state);
      font-family: 'Noto Sans', sans-serif;
    }
  }
}