@font-face {
	font-family: 'Noto Sans';
	src: url("/assets/NotoSans.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "remixicon";
	src: url("/assets/remixicon.woff2") format("woff2");
	font-display: swap;
}

[class^="ri-"],
[class*="ri-"] {
	font-family: 'remixicon' !important;
	font-style: normal;
	font-size:1.5rem;
	color:var(--border);
	padding-bottom: 0.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ri-pause-fill:before { content: "\efd7"; }
.ri-stop-fill:before { content: "\f1a0"; }
.ri-repeat-fill:before { content: "\f073"; }
.ri-play-list-add-fill:before { content: "\f00e"; }
.ri-play-fill:before { content: "\f00a"; }
.ri-rewind-fill:before { content: "\f085"; }
.ri-speed-fill:before { content: "\f176"; }
.ri-skip-forward-fill:before { content: "\f143"; }
.ri-settings-fill:before { content: "\f0ed"; }
.ri-menu-4-fill:before { content: "\ef35"; }
.ri-search-2-line:before { content: "\f0cd"; }
.ri-github-fill:before { content: "\edca"; }
.ri-play-list-2-fill:before { content: "\f00c"; }
.ri-telegram-line:before { content: "\f1f0"; }



:root {
	--bg: none;
	--accent: none;
	--text: none;
	--border: none;
}

* {
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg);
	color: var(--text);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
}


.hide {
	display: none;
}

.show {
	display: flex;
}



@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(1rem)
	}
}

#subtitleContainer {
	width: 80%;
	position: relative;
	pointer-events: none;
}

@media (min-width:600px) {
	#subtitleContainer {
		width: 50%;
	}
}