@font-face {
	font-family: 'Noto Sans';
	src: url("/assets/NotoSans.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "remixicon";
	src: url("/assets/remixicon.woff2") format("woff2");
	font-display: swap;
}

[class^="ri-"],
[class*="ri-"] {
	font-family: 'remixicon' !important;
	font-style: normal;
	font-size: 1.5rem;
	color: var(--border);
	padding-bottom: 0.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ri-pause-fill:before {content: "\efd7"}
.ri-stop-fill:before {content: "\f1a0"}
.ri-repeat-fill:before {content: "\f073"}
.ri-play-list-add-fill:before {content: "\f00e"}
.ri-play-fill:before {content: "\f00a"}
.ri-rewind-fill:before {content: "\f085"}
.ri-speed-fill:before {content: "\f176"}
.ri-skip-forward-fill:before {content: "\f143"}
.ri-settings-fill:before {content: "\f0ed"}
.ri-menu-4-fill:before {content: "\ef35"}
.ri-search-2-line:before {content: "\f0cd"}
.ri-github-fill:before {content: "\edca"}
.ri-telegram-line:before {content: "\f1f0"}
.ri-magic-fill:before {content: "\eee9"}
.ri-skip-back-fill:before {content: "\f13f"}
.ri-close-fill:before {content: "\eb98"}



:root {
	--bg: none;
	--secondary: none;
	--accent: none;
	--text: none;
	--border: none;
}

* {
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: var(--bg);
	font-family: 'Noto Sans', sans-serif;
	color: var(--text);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


.hide {
	display: none;
}

.show {
	display: flex;
}

#queuelistContainer {
	height: calc(100% - 2rem);
	background-color: var(--secondary);
	color: var(--text);
	animation: appear 0.5s ease-out;
	user-select: none;
	padding: 1rem;
	position: fixed;
	z-index: 2;
	top: 0;
	left: -2rem;
	width: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(1rem)
	}
}

#settingsButton {
	background-color: var(--accent);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	border-bottom: 1px solid var(--border);
	border-left: 1px solid var(--border);
	border-bottom-left-radius: 2rem;
	padding: 0 0 1rem 1rem;
	box-shadow: 0 0.1rem 0.3rem #0003;
}

#queuelistButton{
	background-color: var(--accent);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
	border-bottom-right-radius: 2rem;
	padding: 0 1rem 1rem 0;
	box-shadow: 0 0.1rem 0.3rem #0003;
}

#subtitleContainer {
	width: 80%;
	position: relative;
	pointer-events: none;
}

@media (min-width:600px) {
	#subtitleContainer {
		width: 50%;
	}
}