@font-face {
	font-family: 'Noto Sans';
	src: url("../../assets/NotoSans.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "remixicon";
	src: url("../../assets/remixicon.woff2") format("woff2");
	font-display: swap;
}

[class^="ri-"],
[class*="ri-"] {
	font-family: 'remixicon' !important;
	font-style: normal;
	font-size: 1.5rem;
	color: var(--border);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ri-search-2-line:before { content: "\f0cd"; }
.ri-home-line:before { content: "\ee2b"; }
.ri-settings-line:before { content: "\f0ee"; }
.ri-magic-line:before { content: "\eeea"; }
.ri-volume-up-line:before { content: "\f2a2"; }
.ri-volume-mute-line:before { content: "\f29e"; }
.ri-play-line:before { content: "\f00b"; }
.ri-pause-line:before { content: "\efd8"; }
.ri-stop-line:before { content: "\f1a1"; }
.ri-skip-back-line:before { content: "\f140"; }
.ri-skip-forward-line:before { content: "\f144"; }
.ri-replay-10-line:before { content: "\f352"; }
.ri-forward-10-line:before { content: "\f32b"; }
.ri-repeat-line:before { content: "\f074"; }
.ri-play-list-2-line:before { content: "\f00d"; }
.ri-play-list-add-line:before { content: "\f00f"; }
.ri-menu-4-line:before { content: "\ef36"; }
.ri-shuffle-line:before { content: "\f124"; }




:root {
	--bg: none;
	--accent: none;
	--text: none;
	--border: none;
}

* {
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: var(--bg);
	font-family:'Noto Sans', sans-serif;
	color: var(--text);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-around;
}


.hide {
	display: none;
}

.show {
	display: flex;
}


@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(1rem)
	}
}

nav {
	background-color: var(--accent);
	border-radius: 0.6rem;
	border: 1px solid var(--border);
	box-shadow: 0 0.1rem 0.3rem #0003;
}

nav button {
	padding:0.5rem;
	margin: 1px 0;
	width: 4rem;
	border-radius: 0.5rem;
}


[data-badge]:after {
	font-family: 'Noto Sans';
	content: attr(data-badge);
	line-height: 1rem;
	-webkit-transition: background 0.5s, color 1s;
	-o-transition: background 0.5s, color 1s;
	transition: background 0.5s, color 1s;
}

[data-badge^="-"]:after,
[data-badge=""]:after,
[data-badge="0"]:after {
	display: none;
}


#subtitleContainer {
	width: 80%;
	position: relative;
	bottom:10%;
	pointer-events: none;
}

@media (min-width:600px) {
	#subtitleContainer {
		width: 50%;
	}
}