#miniPlayer {
  display: flex;

  input {
    display: none;
    position: fixed;
    width: 92%;
    height: 1vmin;
    pointer-events: none;
    appearance: none;
    overflow: hidden;
    background: none;
    ;


    &::-webkit-slider-thumb {
      appearance: none;
      border: none;
      transform: none;
      box-shadow: -55vw 0 0 55vw var(--text);
    }

  }

  img {}


  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1dvh;

    a {
      pointer-events: none;
      margin: 0;
      padding: 0;
      height: 4dvmax;
      line-height: 4dvmax;
      overflow: hidden;
    }


    button {
      color: inherit;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      font-size: 5dvmax;
      transform: scale(1.1);
    }
  }


  @media(orientation:portrait) {
    height: calc(5dvmax + 2dvh);
    margin: 2%;
    margin-bottom: 0;

    img {
      height: 100%;
      margin-right: 2%;
      border-radius: var(--roundness);
    }

    div {
      background: var(--onBg);
      border-radius: var(--roundness);
    }
  }

  @media(orientation:landscape) {
    flex-direction: column;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--roundness);
    }
  }
}