nav {
  display: flex;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    opacity: 50%;

    p,
    i {
      pointer-events: none;
    }

    &:hover {
      opacity: 75%;
    }

    &.active {
      opacity: 1;
    }
  }
}

@media(orientation:portrait) {

  nav {
    height: fit-content;
    justify-content: space-around;
    width: 96%;
    padding: 2% 0;
  }


  nav a {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  nav i {
    font-size: larger;
  }

  nav p {
    margin: 0;
    padding: 0;
    font-size: small;
  }

}

@media(orientation:landscape) {

  nav {
    height: 100dvh;
    flex-direction: column;
    width: 20%;
    font-size: large;
    justify-content: center;
  }


  nav a {
    width: auto;
    height: 12%;
    margin: 1dvh;
  }

  nav i {
    margin: 0 1vw;
  }

}