nav {
  display: flex;
}

nav input {
  display: none;
}

nav label {
  display: flex;
  align-items: center;
  color: var(--text);
  opacity: 50%;
  border-radius: var(--roundedness);
}


nav label:hover {
  opacity: 75%;
}

nav input:checked+label {
  opacity: 1;
}

@media(orientation:portrait) {

  nav {
    height: auto;
    justify-content: space-around;
    width: 90%;
    margin: 5%;
    margin-bottom: 0;
    background-color: var(--onBg);
    border: var(--border);
    border-radius: var(--roundedness);
  }


  nav label {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  nav label i {
    font-size: 3vh;
  }

  nav label p {
    margin: 0;
    padding: 0;
    font-size: 3vw;
  }

}

@media(orientation:landscape) {

  nav {
    height: 100%;
    flex-direction: column;
    width: 20%;
    font-size: 5vh;
    justify-content: center;
    background-color: var(--onBg)
  }

  nav label {
    width: auto;
    height: 12%;
    margin: 1vh;
  }

  nav label i {
    margin: 0 1vw;
  }

}