#relatedStreamsContainer {
	background-color: var(--accent);
	border: 1px solid var(--border);
	width: 90%;
	height: calc(100vh - 10rem);
	-webkit-box-shadow: 0 0.1rem 0.3rem #0003;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border-radius: 0.7rem;
	overflow: scroll;
	animation: appear 0.5s ease-out;
}

list-item {
	width: 100%;
	margin-top: 0.3rem;
	margin-bottom: 0.4rem;
	overflow: auto
}

list-item:hover,
list-item:focus {
	background-color: var(--accent);
}

.list-show {
	display: grid;
}

@media (min-width:600px) {
	#relatedStreamsContainer {
		grid-template-columns: auto auto;
	}
}
