#settingsContainer {
	background-color: var(--accent);
	border: 1px solid var(--border);
	width: calc(90% - 2rem);
	height: auto;
	padding: 1rem;
	-webkit-box-shadow: 0 0.1rem 0.3rem #0003;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border-radius: 0.7rem;
	animation: appear 0.5s ease-out;
	user-select: none;

}

#pipedInstances{
	box-shadow: none;
}


#netlifyForm {
	background-color: var(--accent);
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	color: var(--text);
	outline: none;
	font-family: 'Noto Sans';
}

#netlifyForm::placeholder {
	color: var(--border)
}

#settingsContainer span {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#settingsContainer label {
	font-weight: bold;
	color: var(--border);
}


#settingsContainer span button {
	margin: 0;
	background-color: var(--accent);
	font-weight: bold;
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	animation: none;
	color: var(--border);
	font-family: 'Noto Sans';
}

#settingsContainer span button:hover {
	background-color: #f007;
	color: #ddd;
}

#settingsContainer a {
	text-decoration: none;
	width: 2rem;
	text-align: center;
	transition: all 0.4s;
	border-radius: 0.7rem;
	border: 1px solid var(--border);
	background-color: var(--accent);
	color: var(--border);
}

#settingsContainer span .ri-telegram-line:hover {
	background-color: #08c;
	color: #ddd;
}

#settingsContainer span .ri-github-fill:hover {
	background-color: #333;
	color: #ddd;
}