#settings {
  width: auto;
  padding: 4%;
  row-gap: 3%;

  div {
    background-color: var(--onBg);
    border: var(--border);
    border-radius: var(--roundness);
    width: 100%;

    b {
      display: flex;
      align-items: center;
      column-gap: 1vmin;
      margin: 2%;

      i {
        font-size: 1.2rem;
      }

      svg {
        overflow: hidden;
      }
    }

    toggle-switch,
    span {
      width: calc(100% - 2ch);
      margin: 1ch auto;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      select {
        background-color: var(--onBg);
        font-size: inherit;
        border: var(--border);
        padding: 0.5vmin 1vmin;
      }
    }

    a {
      background-color: var(--onBg);
      padding: 1vmin;
      border: var(--border);
      border-radius: var(--roundness);
      display: inline-block;
      margin-right: 2vmin;
      margin-bottom: 4%;
    }

    button {
      margin-left: 0;
      margin-bottom: 4%;
      background-color: var(--onBg) !important;
      color: var(--text) !important;
    }
  }

  div:last-child {
    background: none;
    border: none;

    #feedback {
      font-size: medium;
      background-color: var(--onBg);
      border: var(--border);
      border-radius: var(--roundness);
      color: inherit;
      padding: 1vmin;
      width: 100%;
      resize: none;

      &::placeholder {
        color: inherit;
      }
    }
  }
}