#settings {
  width: auto;
  padding: 4%;
  row-gap: 3%;

  div {
    background-color: var(--onBg);
    border: var(--border);
    border-radius: var(--roundness);
    width: 100%;

    h3 {
      display: flex;
      align-items: center;
      column-gap: 1vmin;
      margin: 2%;
      font-weight: normal;

      i {
        font-size: larger;
      }
    }

    toggle-switch,
    span {
      margin: 4%;
    }

    span {
      width: 92%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      select {
        background-color: var(--onBg);
        font-size: inherit;
        border: var(--border);
        padding: 1vmin;
      }
    }

    a {
      background-color: var(--onBg);
      padding: 1vmin;
      border: var(--border);
      border-radius: var(--roundness);
      display: inline-block;
      margin-right: 2vmin;
      margin-bottom: 4%;
    }

    button {
      margin-left: 0;
      margin-bottom: 4%;
      background-color: var(--onBg) !important;
      color: var(--text) !important;
    }
  }

  div:last-child {
    background: none;
    border: none;
  }
}



#netlifyForm {
  font-size: medium;
  background-color: var(--onBg);
  border: var(--border);
  border-radius: var(--roundness);
  color: inherit;
  padding: 1vmin;
  width: 100%;

  &::placeholder {
    color: inherit;
    opacity: 75%;
  }
}