#settings {
  width: auto;
  background-color: var(--onBg);
  padding: 0 4vmin;
  border: var(--border);
  border-radius: var(--roundness);
}

#settings.view {
  display: block;
}

#settings h3 {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  border-bottom: dotted;
}

#settings span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 4vmin 0;
}

#settings select {
  background-color: var(--onBg);
  font-size: inherit;
  border: var(--border);
  padding: 1vmin;
  max-width: calc(100% - 15ch);
}

#settings a {
  background-color: var(--onBg);
  padding: 1vmin;
  border: var(--border);
  border-radius: var(--roundness);
  display: inline-block;
  margin-bottom: 4vmin;
  margin-right: 2vmin;
}

#settings button {
  margin: 0 2vmin 4vmin 0 !important;
  background-color: var(--onBg) !important;
  color: var(--text) !important;
}

#netlifyForm {
  font-size: medium;
  background-color: var(--onBg);
  border: var(--border);
  border-radius: var(--roundness);
  color: inherit;
  padding: 1vmin;
  width: calc(100% - 2.3vmin);
  margin-bottom: 5%;
}

#netlifyForm::placeholder {
  color: inherit;
  opacity: 75%;
}