#settingsContainer {
	background-color: var(--accent);
	border: 1px solid var(--border);
	width: calc(90% - 2rem);
	height: auto;
	padding: 1rem;
	-webkit-box-shadow: 0 0.1rem 0.3rem #0003;
	box-shadow: 0 0.1rem 0.3rem #0003;
	border-radius: 0.7rem;
	animation: appear 0.5s ease-out;
}

toggle-switch {
	margin-bottom: 1rem;
	font-size: 1rem;
}

#deleteButton {
	margin: 0;
	background-color: #f007;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	color: white;
}


#netlifyForm {
	background-color: var(--accent);
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	color: var(--text);
	outline: none;
}

#netlifyForm::placeholder {
	color: var(--border)
}

#settingsContainer span {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#settingsContainer span a {
	font-weight: bold;
	background-color: #08c;
	color: white;
	text-decoration: none;
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	text-align: center;
}

#settingsContainer a {
	display: block;
	font-weight: bold;
	color: var(--border);
}