#settingsContainer {
	height: calc(100vh - 2rem);
	background-color: var(--accent);
	color: var(--text);
	width: calc(100% - 2rem);
	animation: appear 0.5s ease-out;
	user-select: none;
	padding: 1rem;

}

#pipedInstances {
	box-shadow: none;
	color: var(--text)
}


#netlifyForm {
	background-color: var(--accent);
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	color: var(--text);
	outline: none;
	font-family: 'Noto Sans';
}

#netlifyForm::placeholder {
	color: var(--text)
}

#settingsContainer span {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#settingsContainer label {
	font-weight: bold;

}


#settingsContainer span button {
	margin: 0;
	background-color: var(--accent);
	font-weight: bold;
	padding: 0.5rem;
	border: 1px solid var(--border);
	border-radius: 0.7rem;
	animation: none;
	color: var(--text);
	font-family: 'Noto Sans';
}

#settingsContainer span button:hover {
	background-color: #f007;
	color: #ddd;
}

#settingsContainer a {
	text-decoration: none;
	width: 2rem;
	text-align: center;
	transition: all 0.4s;
	border-radius: 0.7rem;
	border: 1px solid var(--border);
	background-color: var(--accent);
	color: var(--text);
}

#settingsContainer span .ri-telegram-line:hover {
	background-color: #08c;
	color: #ddd;
}

#settingsContainer span .ri-github-fill:hover {
	background-color: #333;
	color: #ddd;
}

#autoplayConfig {
	font-weight: bold;
	margin-top: 0.8rem;
}

#autoplayConfig label {
	font-size: 0.8rem;
}

input[type="radio"],
input[type="radio"]:checked {
	display: none
}


#autoplayConfig input[type="radio"]:checked+label {
	background-color: var(--accent);
	border: 1px solid var(--border);
	padding: 0.4rem;
	border-radius: 0.5rem;
	color: var(--border);
}