#volumeSlider {

  input {
    width: calc(100% - var(--size-12));
    margin: 0 var(--size-2);
  }
}


#durationSlider {
  input {
    width: 100%;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}