@import 'reset.css';
@import 'remixicon.css';
@import 'nav.css';
@import 'footer.css';
@import 'home.css';
@import 'search.css';
@import 'library.css';
@import 'list.css';
@import 'settings.css';
@import 'superModal.css';
@import 'snackbar.css';
@import 'animations.css';

:root {
  --bg: transparent;
  --onBg: transparent;
  --text: transparent;
  --borderColor: transparent;
  --border: 0.1vmin solid var(--borderColor);
  --shadowColor: transparent;
  --shadow: 0 0.5vmin 1.5vmin var(--shadowColor);
  --roundness: 2vmin;
  --defaultBg: var(--text);
  --defaultText: var(--bg);
  --pageTransitionEffect: translateX(100%);
}

@font-face {
  font-family: "Noto Sans";
  src: url("/NotoSans.woff2") format("woff2");
  font-display: swap;
}


html,
body {
  height: 100dvh;
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  transition: all 0.4s;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  main {
    display: flex;
    flex-direction: column;


    section {
      display: none;
      flex-direction: column;
      overflow: scroll;
      align-items: center;
      width: 100%;
      animation: appear 0.2s cubic-bezier(0.19, 1, 0.22, 1);

      &.view {
        display: flex;
      }

    }
  }
}


@media(orientation:portrait) {
  body {
    --navDirection: column;
    flex-direction: var(--navDirection);

    header {
      width: 92%;
      display: flex;
      flex-direction: var(--navDirection);
    }

    main {
      height: 100%;
      width: 100%;

      section {
        height: calc(93dvh - 3.2rem);
      }
    }
  }

  .reverseNav {
    --navDirection: column-reverse;
  }

}


@media(orientation:landscape) {

  body {
    --navDirection: row;
    flex-direction: var(--navDirection);
  }

  header {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .reverseNav {
    --navDirection: row-reverse;
  }

  main {
    height: 100%;
    width: calc(80% - 4dvh);
    padding: 2dvh;
  }

  section {
    --pageTransitionEffect: translateY(100%);
  }
}


/* global styles for tags */


button {
  transition: all 0.3s ease;
  user-select: none;

  &:active {
    transform: scale(0.8);
  }
}


input {
  font-family: inherit;
  outline: none;
}

select {
  font-family: inherit;
  background: none;
  outline: none;
  color: var(--text);
  border: none;
  border-radius: var(--roundness)
}

dialog[open] {
  margin: auto;
  background: none;
  border: none;
  animation: boing 0.3s ease-in-out forwards;
}


dialog::backdrop {
  background-color: #0007;
  animation: dialogAppear 0.3s ease-in-out forwards;
}



a {
  text-decoration: none;
  color: inherit;
}


.hide {
  display: none !important;
}

.delete {
  --defaultBg: #800;
  --defaultText: #eaa;
  --onBg: #800;
  --text: #eaa;
}

.filter {
  --defaultBg: #055;
  --defaultText: #6dd;
}

.checked {
  --defaultBg: #505;
  --defaultText: #faf;
}

#queuetools,
#listTools,
#settings,
#changelog {
  button {
    border: var(--border);
    border-radius: var(--roundness);
    background: var(--defaultBg);
    color: var(--defaultText);
    font-family: inherit;
    font-size: inherit;
    padding: 1vmin 2vmin;
    margin: 1vmin 2vmin;
  }
}


#loadingScreen {
  background-color: var(--bg);
  color: var(--text);
  border-radius: var(--roundness);

  i {
    font-size: xx-large;
  }
}

.ri-loader-3-line {
  animation: spinner 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}



#queuetools,
#listTools {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(0.5rem);
  border-bottom-left-radius: var(--roundness);
  border-bottom-right-radius: var(--roundness);
  padding: 2vmin 0;
}

#upcoming {

  #queuelist {
    width: 92%;
  }

  #queuetools {
    width: calc(92% + 3vmin);
  }
}