@import 'nav.css';
@import 'footer.css';
@import 'home.css';
@import 'search.css';
@import 'settings.css';
@import 'remixicon.css';

:root {
  --bg: transparent;
  --onBg: transparent;
  --text: transparent;
  --borderColor: transparent;
  --border: 0.1vmin solid var(--borderColor);
  --shadowColor: transparent;
  --shadow: 0 0.5vmin 1.5vmin var(--shadowColor);
  --roundedness: 2vmin;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("/NotoSans.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: var(--bg);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

body {
  background-image: linear-gradient(var(--onBg), transparent);
  color: var(--text);
  display: flex;
  align-items: center;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

section.view {
  display: flex;
}

@media(orientation:portrait) {
  body {
    flex-direction: column;
  }

  main {
    height: calc(100dvh - 10%);
    width: 90%;
    padding: 5%;
  }

  section {
    height: calc(75dvh - 5dvw);
    margin-bottom: 5dvw;

  }
}


@media(orientation:landscape) {
  main {
    height: 96dvh;
    width: calc(80% - 4dvh);
    padding: 2dvh;
  }

  section {
    height: calc(80% - 2dvh);
    margin-bottom: 2dvh;
  }
}


/* global styles for tags */
select {
  background: none;
  outline: none;
  color: var(--text);
  border: none;
  border-radius: var(--roundedness)
}

details {
  width: calc(100% - 4.3vmin);
  background-color: var(--onBg);
  color: var(--text);
  padding: 2vmin;
  margin-bottom: 4vmin;
  border: var(--border);
  border-radius: var(--roundedness)
}

details>summary {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}