#superModal ul {
  list-style: none;
  margin: 0;
  padding: 0.5vmin 2vmin;
  width: auto;
  background-color: var(--bg);
  color: var(--text);
  border: var(--border);
  border-radius: calc(var(--roundness)*1.4);
  box-shadow: var(--shadow);
}

#superModal li {
  background-color: var(--onBg);
  padding: 2vmin 4vmin;
  margin: 2vmin 0;
  border: var(--border);
  border-radius: var(--roundness);
  font-weight: bold;
  font-size: medium;
  user-select: none;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#superModal li i {
  font-weight: normal;
  margin-right: 2vmin;
  font-size: larger;
}


#playlistSelector {
  font-weight: inherit;
  font-size: inherit;
  margin-left: -3px;
  width: 16ch;
}