#queuelist {
  width: 92%;
}


#queuetools {

  li {
    i {
      padding: 0.5rem;
      border-radius: var(--roundness);
    }

    &:hover.on i {
      filter: invert();
    }

    &:nth-child(5).on i {
      background: #a0a2;
      color: #a0a;
    }

    &:nth-child(4).on i {
      background: #aa02;
      color: #aa0;
    }

    &:nth-child(3).on i {
      background: #1bb2;
      color: #1bb;
    }

    &:nth-child(2).on i {
      background: #f222;
      color: #f22;
    }

    &:nth-child(1).on i {
      background: #55f2;
      color: #55f;
    }

  }

}