#actionsMenu {
  border: var(--border);
  box-shadow: var(--shadow);
  padding: var(--size-2) var(--size-2);
  width: 100%;
  margin: auto;
  margin-bottom: var(--size-4);
  border-radius: calc(var(--roundness) * 1.2);
  background-color: var(--bg);
  overflow: auto;
  animation: var(--animation-slide-out-down) forwards;

  &:open {
    animation: var(--animation-slide-in-up) forwards;
  }

  @media(orientation:landscape) {
    width: max-content;
    margin: auto 8dvmin;
    margin-left: auto;
    animation-name: fromRight;

  }

  ul {
    list-style: none;
    padding: var(--size-1);
    width: auto;
    display: grid;
    gap: var(--size-1);
  }

  li {
    cursor: pointer;
    color: var(--text);
    user-select: none;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
    display: flex;
    align-items: center;
    gap: var(--size-3);
    padding: 0 var(--size-1);
    border: 0.1vmin solid transparent;
    border-radius: var(--roundness);

    &:hover {
      border: var(--border);
      background: var(--onBg);
    }

    & i {
      font-size: var(--font-size-4);
      font-weight: initial;
    }

  }

}

#collectionSelector {
  font-weight: inherit;
  font-size: inherit;
  margin-left: 0;
  appearance: none;
  background: transparent;
  padding: 0;
}