@import './slider.css';

#playerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  & * {
    z-index: 2;
  }

  & div.bg-pane {
    background-color: hsl(from var(--onBg) h s l / 0.8);
    backdrop-filter: blur(var(--size-px-1));
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  & div.bg-image {
    position: absolute;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    background-image: var(--player-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: var(--player-bp);
    transition: background-position 0.3s ease;
    z-index: 0;

  }

  header {
    z-index: 3;
  }

  .ri-more-2-fill {
    margin: auto 0;
    padding: 0 var(--size-00);
    opacity: 1;
  }

  & i.on {
    background-color: var(--text2);
    color: var(--onBg2);
  }



}

#playerSection article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: auto 0;


  button {
    background: none;
  }

  i,
  button,
  label {
    font-size: var(--font-size-4);
  }


  img {
    margin: 0 auto;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-2);
    width: 100%;
  }


  @media(orientation:landscape) {
    height: 100%;

    img {
      width: 50dvh;
    }

    .lyrics {
      text-align: center;
    }
  }

  &:has(>div.watcher) {
    margin: auto;
    justify-content: center;
  }

}


.mediaDetails {

  margin: var(--size-3) 0;

  a {
    display: block;
    font-size: var(--size-4);
    font-weight: var(--font-weight-6);
    color: inherit;
    text-decoration-color: inherit;
  }

  p {
    display: inline;
    font-size: var(--size-3);
  }

  @media(orientation:landscape) {
    text-align: center;
  }

}


.slider {
  input {
    width: 100%;
    color: var(--text2);
  }

  margin-bottom:var(--size-2);

  div {
    display: flex;
    justify-content: space-between;

    p {
      font-size: var(--font-size-0);
      letter-spacing: var(--font-letterspacing-2);
      font-weight: var(--font-weight-7);
      opacity: 0.8;
    }

    #fullDuration {
      text-align: right;
    }
  }
}

.topShelf {
  display: flex;
  justify-content: space-between;

  >p {
    overflow: clip;
    text-overflow: ellipsis;
  }

  .right-group {
    margin-right: var(--size-4);
    margin-top: 0;
  }


}


.mainShelf {
  display: flex;
  justify-content: space-between;

  :first-child {
    animation: var(--animation-slide-in-down) forwards;
  }

  :last-child {
    animation: var(--animation-slide-in-up) forwards;

  }

  button {
    opacity: 0.9;
    font-size: var(--font-size-4) !important;
    font-weight: var(--font-weight-1) !important;
  }

  #playButton {
    transform: scale(1.5);
  }

}

.bottomShelf {
  display: flex;
  justify-content: space-between;
  margin-top: var(--size-5);
  margin-bottom: var(--size-9);

  i {
    font-size: var(--font-size-2) !important;
    padding: 0 var(--size-2);
    border-radius: var(--roundness);
    opacity: 0.7;
    font-weight: var(--font-weight-6);
  }


  select {
    background: none;
    width: calc(var(--size-8) + var(--size-2));
    padding: 0;
    margin: 0;
    appearance: none;
    opacity: 0.5;
    font-size: var(--font-size-0);
    letter-spacing: var(--font-letterspacing-2);
    font-weight: var(--font-weight-6);
  }

  #volumeChanger {
    text-align: right;
  }
}

.lyrics {
  aspect-ratio: 1;
  background-color: var(--onBg);
  border-radius: var(--roundness);
  padding: 0 var(--size-3);
  overflow: scroll;

  p {
    margin: var(--size-5) 0;
    font-size: var(--font-size-1);
    opacity: 0.7;

    &.active {
      font-weight: var(--font-weight-6);
      opacity: 1;
    }
  }
}


.watcher {

  video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: var(--roundness);
  }

  select {
    font-size: var(--font-size-2) !important;
    width: 50%;
    text-align: center;
    appearance: none;
  }

  button {
    font-size: var(--font-size-2) !important;
    width: 50%;
  }


  p {
    font-size: var(--font-size-1) !important;
    font-style: italic;
    opacity: 0.5;
  }
}