@import './slider.css';

#playerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  & * {
    z-index: 2;
  }

  & div.bg-pane {
    background-color: hsl(from var(--onBg) h s l / 0.8);
    backdrop-filter: blur(var(--size-px-1));
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  & div.bg-image {
    position: absolute;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    background-image: var(--player-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: var(--player-bp);
    transition: background-position 0.3s ease;
    z-index: 0;

  }

  .ri-close-large-line {
    margin-right: 0;
    margin-left: auto;
  }

  .ri-more-2-fill {
    font-size: var(--font-size-3);
  }


}

#playerSection article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--gap);
  width: 100%;
  height: calc(100% - calc(var(--gap) * 2));
  margin: 0;


  button {
    background: none;
  }

  i,
  button,
  label {
    font-size: var(--font-size-4);
  }


  img {
    margin: 0 auto;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-2);
    width: 100%;
  }


  @media(orientation:landscape) {
    height: 100%;

    img {
      width: 50dvh;
    }
  }
}


.mediaDetails {

  a {
    display: block;
    font-size: var(--size-4);
    font-weight: var(--font-weight-6);
    color: inherit;
  }

  p {
    display: inline;
    font-size: var(--size-3);
  }

  @media(orientation:landscape) {
    text-align: center;
  }

}


.slider {
  input {
    width: 100%;
    color: var(--text2);
  }


  div {
    display: flex;
    justify-content: space-between;

    p {
      font-size: var(--font-size-1);
    }
  }
}

.topShelf {
  display: flex;
  justify-content: space-between;

  p {
    display: inline-block;
    overflow: hidden
  }

  .right-group {
    margin-right: var(--size-4);
    margin-top: 0;
  }

}


.mainShelf {
  display: flex;
  justify-content: space-between;

  :first-child {
    animation: var(--animation-slide-in-down) forwards;
  }

  :last-child {
    animation: var(--animation-slide-in-up) forwards;

  }

  #playButton {
    transform: scale(1.5)
  }

}

.bottomShelf {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gap);

  >button,
  i {
    font-size: var(--font-size-3) !important
  }

  #favButton {
    padding: 0;
  }


  input[type='checkbox'] {
    display: none
  }

  select {
    background: none;
    width: calc(var(--size-8) + var(--size-2));
    padding: 0;
    margin: 0;
    appearance: none;
    font-size: var(--font-size-1);
  }

  #volumeChanger {
    text-align: right;
  }
}