.settingsSection {
  header {
    display: flex;
    justify-content: space-between;

    .ri-close-large-line {
      margin-right: var(--size-7);
      margin-top: var(--size-0);
    }
  }

  div {
    width: 100%;
    margin-bottom: var(--gap);

    &.toggleSwitch,
    >span {
      width: 100%;
      margin: 1ch auto;
    }

    &.toggleSwitch {
      display: flex;
      align-items: center;
      background: none;
      border: none;

      &:hover {
        background-color: var(--onBg);
      }

      label {
        width: calc(100% - 2.2rem);
      }

      span {
        cursor: pointer;
        inset: 0;
        margin: 0;
        background-color: var(--onBg);
        border-radius: var(--roundness);
        width: 2.2rem;
        border: var(--border);


        &,
        &:before {
          height: 1.3rem;
          transition: 0.3s;
        }

        &:before {
          content: "";
          height: calc(100% - 0.5rem);
          aspect-ratio: 1;
          margin: 0.25rem;
          background-color: var(--text2);
          border-radius: calc(var(--roundness) / 2);
        }

      }

      input {
        display: none;
      }

      input:checked+span {
        background: var(--onBg2);
      }

      input:checked+span:before {
        transform: translateX(0.85rem);
      }
    }

    >span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: var(--onBg);
      }

      select {
        color: var(--text2);
        font-size: inherit;
        padding: 0 var(--size-2);
        max-width: 50%;
      }
    }

  }

}