.settingsSection {
  border-radius: var(--roundness);

  header {
    display: flex;
    justify-content: space-between;

    .ri-close-large-line {
      margin-right: var(--size-7);
      margin-top: var(--size-0);
    }
  }

  >div {
    padding: var(--size-1);
  }

  div {
    background-color: var(--onBg);
    border: var(--border);
    border-radius: var(--roundness);
    width: 100%;
    margin-bottom: var(--gap);

    &.toggleSwitch,
    >span {
      width: calc(100% - 2ch);
      margin: 1ch auto;
    }

    &.toggleSwitch {
      display: flex;
      align-items: center;
      background: none;
      border: none;

      label {
        width: calc(100% - 2.2rem);
      }

      span {
        cursor: pointer;
        inset: 0;
        margin: 0;
        background-color: var(--onBg);
        border-radius: var(--roundness);
        width: 2.2rem;
        border: var(--border);

        &,
        &:before {
          height: 1.3rem;
          transition: 0.3s;
        }

        &:before {
          content: "";
          height: calc(100% - 0.5rem);
          aspect-ratio: 1;
          margin: 0.25rem;
          background-color: var(--text);
          border-radius: calc(var(--roundness) / 2);
        }

      }

      input {
        display: none;
      }

      input:checked+span {
        background: var(--bg);
      }

      input:checked+span:before {
        transform: translateX(0.85rem);
      }
    }

    b {
      display: flex;
      align-items: center;
      column-gap: var(--size-1);
      margin: var(--size-1);
      letter-spacing: var(--font-letterspacing-0);
      font-weight: var(--font-weight-5);
    }

    b.hide {
      ~* {
        display: none;
      }
    }

    >span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      select {
        background-color: var(--onBg);
        font-size: inherit;
        border: var(--border);
        border-radius: var(--roundness);
        padding: var(--size-1) var(--size-2);
        max-width: 50%;
      }
    }

  }

}