.settingsSection {
  header {
    .ri-close-large-line {
      margin-right: calc(var(--size-7) + var(--size-1));
      margin-top: var(--size-0);
    }
  }

  >div {
    width: 100%;
    margin-bottom: var(--size-8);

    >span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      transition: background-color 0.2s;
      font-weight: var(--font-weight-5);

      i {
        font-size: var(--font-size-5);
      }

      &:hover {
        background-color: var(--onBg);
        border-radius: var(--roundness);
      }

      select {
        font-size: inherit;
        font-weight: var(--font-weight-5);
        padding: 0 var(--size-2);
        margin: var(--size-3) 0;
        max-width: 50%;
        text-align: right;
      }
    }
  }
}