#dataContainer {
  width: 80vw;
  padding: 0.3rem;
  background: var(--accent);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  border: 1px solid var(--border);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

img {
  height: 45vw;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
}

#metadata {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

#title {
  margin-top: 1rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

#author {
  height: 2rem;
  font-size: 0.75rem;
}

#metadata a{
  text-decoration: none;
  color: inherit;
}

#bitrate {
  margin-bottom: 1rem;
  font-size: 0.5rem;
  width: 50%;
}

@media (min-width:600px) {
  #dataContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  img,
  #metadata {
    height: 22.5vw;
  }

  #title {
    font-size: 1.25rem;
  }

  #author {
    font-size: 1rem;
  }

  #bitrate {
    font-size: 0.75rem;
  }


}