#dataContainer {
  width: 80vw;
  padding: 0.3rem;
  background: var(--accent);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  border: 1px solid var(--border);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: fade 500ms ease-out;
  animation: fade 500ms ease-out;
}

img {
  height: 45vw;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  -webkit-animation: fade 1s ease-out;
  animation: fade 1s ease-out;
}

#title {
  font-size: 1rem;
  font-weight: bold;
}

#author {
  font-size: 0.75rem;
}

#bitrate {
  font-size: 0.5rem;
}

@media (min-width:600px) {
  #dataContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  img {
    height: 22.5vw;
  }

  #metadata {
    height: 22.5vw;
    width: 40vw;
    overflow: scroll;
  }

}