@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

:root {
  --bg:none;
  --accent: none;
  --text: none;
  --border: none;
}
*{
  transition: background 0.5s;
}

body {
  height: 100dvh;
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
}

button {
  height: 3rem;
  width: 3rem;
  background: none;
  color: var(--border);
  border: none;
  border-radius: 50%;
  outline: none;
  animation: fade 1s ease-out
}

@keyframes appear {
  from {
    transform: translateY(-100%);
  }
}



@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-50%)
  }
}

.on {
  background: var(--accent);
  color: var(--text);
  border: 1px solid var(--border);
  box-shadow: 0 0.1rem 0.3rem #0003;
  transform: scale(0.9);
}

.hide {
  display: none;
}

a{
  text-decoration: none;
  color: var(--bg);
  background: var(--text)
}