@font-face {
  font-family: 'Noto Sans';
  src: url("/Assets/NotoSans.woff2") format("woff2");
  font-display: swap;
}

:root {
  --bg: none;
  --accent: none;
  --text: none;
  --border: none;
}

* {
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
}

button {
  font-size: 1.5rem;
  padding: 0;
  background: none;
  color: var(--border);
  border: none;
  animation: appear 0.5s;
  transition: transform 0.4s;
}

button i,
#playButton {
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

button i {
  width: 5rem;
}

button p {
  margin: 0;
  font-weight: bold;
  font-size: 0.7rem;
  font-family: 'Noto Sans', sans-serif;
}

button:active i,
#playButton:active {
  background-color: var(--accent);
  color: var(--text);
}

button:active {
  transform: scale(0.9);
}

.on {
  background-color: var(--accent);
  color: var(--text);
  border: 1px solid var(--border);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hide {
  display: none;
}

footer a {
  color: inherit;
}

#inputUrl {
  animation: appear 0.5s;
  margin-right: -14%;
  padding: 0px 0%;
  margin-top: 7%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1rem)
  }
}

@media (min-width: 1650px) {
  button p {
    font-size: 1.1rem;
  }

  #inputUrl {
    margin-right: 5%;
    padding: 5px 17%;
    margin-top: 2%;
  }
}

@media (min-width:1220px) and (max-width:1650px) {
  #inputUrl {
    margin-right: 5%;
    padding: 5px 0%;
    margin-top: 1%;
  }

  button p {
    font-size: 0.9rem;
  }
}

@media (min-width:600px) and (max-width:1220px) {
  #inputUrl {
    padding: 5px 11%;
    margin-right: 2px;
    margin-top: 0;
  }

  button p {
    font-size: 0.6rem;
  }

  button i,
  #playButton {
    width: 3rem;
  }
}

@media (max-width: 390px) {
  #inputUrl {
    margin-top: 10%;
    margin-right: 2%;
  }
}