@font-face {
	font-family: 'Noto Sans';
	src: url("assets/Fonts/NotoSans.woff2") format("woff2");
	font-display: swap;
}

:root {
	--bg: none;
	--accent: none;
	--text: none;
	--border: none;
}

* {
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg);
	color: var(--text);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
}

button {
	font-size: 1.5rem;
	padding: 0;
	background: none;
	color: var(--border);
	border: none;
	animation: appear 0.5s;
	transition: transform 0.4s;
}
button:disabled{
	opacity: 50%;
}
button i,
#playButton {
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

button p {
	margin: 0;
	font-weight: bold;
	font-size: 0.5rem;
	font-family: 'Noto Sans', sans-serif;
	;
}

button:active i,
#playButton:active {
	background-color: var(--accent);
	color: var(--text);
}

button:active {
	transform: scale(0.9);
}

.on {
	background-color: var(--accent);
	color: var(--text);
	border: 1px solid var(--border);
	-webkit-box-shadow: 0 0.1rem 0.3rem #0003;
	box-shadow: 0 0.1rem 0.3rem #0003;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.hide {
	display: none;
}

.show {
	display: flex;
}

footer a {
	color: inherit;
}


@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(1rem)
	}
}

#subtitles {
	width: 80%;
	position: relative;
	pointer-events: none;
}

@media (min-width:600px) {
	#subtitles {
		width: 50%;
	}
}