@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');


:root {
  --bg: none;
  --accent: none;
  --text: none;
  --border: none;
}

* {
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
}

button {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  background: none;
  color: var(--border);
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

button:active {
  background: var(--accent);
  color: var(--text);
}

.on {
  background: var(--accent);
  color: var(--text);
  border: 1px solid var(--border);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hide {
  display: none;
}

footer {
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--bg);
  background: var(--text);
  border-radius: 0.3rem;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  opacity: 75%;
  color: var(--border);
  font-size: 0.5rem;
  font-weight: bold;
}