#playerContainer {
  height: auto;
  width: auto;
  padding: 0.3rem;
  background: var(--accent);
  border: 0.1px solid var(--border);
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  border-radius: 0.7rem;
}

#playerControls {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#playSpeed {
  color: var(--border);
  border: none;
  background: none;
  outline: none;
}

#playerProfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#currentDuration,
#fullDuration {
  color: var(--border);
  font-size: 0.7rem;
  padding: 0.3rem;
}

#queueButton{
  border-radius: 0.5rem;
  width: auto;
  display:flex;
  align-items: center;
}

[data-badge]:after {
  font-family: 'Noto Sans';
  content: attr(data-badge);
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: background 0.5s, color 1s;
  -o-transition: background 0.5s, color 1s;
  transition: background 0.5s, color 1s;
}

[data-badge^="-"]:after,
[data-badge=""]:after,
[data-badge="0"]:after {
  display: none;
}


#settingsButton {
  box-shadow: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

input[type="url"] {
  height: 3rem;
  width: 9rem;

  background: var(--accent);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.1rem 0.3rem #0003;
  box-shadow: 0 0.1rem 0.3rem #0003;
  color: var(--text);

  font-family: 'Noto Sans';
  outline: none;
  text-align: center;
  font-weight: bold;
}

@media (min-width:600px) {
  #playerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}


input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 10rem;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: var(--accent);
  border-radius: 1rem;
  border: 0.1rem solid var(--border);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: var(--accent);
  border: 0.1rem solid var(--border);
  border-radius: 1rem;
  margin-top: -0.35rem
}

input[type="range"]::-moz-range-progress,
input[type="range"]::-moz-range-track {
  background-color: var(--accent);
  height: 0.5rem;
  border-radius: 1rem;
  border: solid 0.1rem var(--border);
}

input[type=range]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  background-color: var(--accent);
  border: solid 0.1rem var(--border);
  border-radius: 1rem;
  margin-top: -0.35rem
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.5rem;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background-color: var(--accent);
  border: 0.1rem solid var(--border);
  border-radius: 1rem;
}

input[type=range]::-ms-thumb {
  height: 1rem;
  width: 1rem;
  background-color: var(--accent);
  border: 0.1rem solid var(--border);
  border-radius: 1rem;
  margin-top: -0.35rem;
}