.listItem {
  width: calc(50% - calc(var(--gap) / 2));
  height: auto;
  margin: var(--size-2) 0;
  transition: all 0.3s ease-out;
  display: inline-block;
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--onBg);
  border-radius: var(--roundness);
  border: var(--border);

  * {
    pointer-events: none;
    transition: all 0.4s;
  }

  &:hover {
    background-color: var(--onBg2);
    color: var(--text2);
  }

  &.ravel {
    * {
      opacity: 0;
    }
  }


  img {
    height: auto;
    width: calc(100% - var(--size-2));
    border-radius: calc(var(--roundness) * 0.5);
    box-shadow: var(--shadow-1);
    margin: var(--size-1);
    margin-bottom: var(--size-2);
  }

  div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  p.title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    max-height: var(--size-12);
    line-height: var(--size-4);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: var(--size-1);
  }

  p.uData {
    font-size: var(--font-size-0);
    line-height: var(--size-3);
    overflow: hidden;
  }

  p.stats {
    font-size: var(--font-size-0);
    height: var(--size-3);
    line-height: var(--size-3);
  }

}