:host {
  height: 20vmin;
  width: auto;
  user-select: none;
  overflow: hidden;
  background-color: var(--onBg);
  padding: 1vmin;
  margin-bottom: 1vmin;
  border-radius: calc(var(--roundedness) + 0.75vmin);
  display: grid;
  grid-template-areas:
    "A B B"
    "A C D"
    "A C E";
}


p {
  margin: 0;
  padding: 0;
}

span {
  position: relative;
  z-index: 1;
  grid-area: A;
}

#thumbnail {
  height: 20vmin;
  border-radius: var(--roundedness);
  margin-right: 1vmin;
}

#duration {
  position: absolute;
  margin: 0;
  padding: 0.5vmin 1vmin;
  bottom: 2vmin;
  right: calc(100% - 34.8vmin);
  background-color: #0007;
  color: #fffc;
  font-weight: bold;
  font-size: small;
  border-radius: 1vmin;
}

slot {
  display: block;
  font-weight: bold;
  grid-area: B;
  font-size: medium;
  overflow: hidden;
  max-height: 9vmin;
}


#avatar {
  border-radius: 50%;
  height: 8vmin;
  grid-area: C;
}

#author {
  display: block;
  font-size: small;
  height: 4vmin;
  overflow: hidden;
  grid-area: D;
}

#viewsXuploaded {
  display: inline;
  font-size: small;
  grid-area: E;
}

@media(orientation:landscape) {
  :host {
    grid-template-areas:
      "A B B B"
      "A C D E"
  }
}