footer {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(var(--size-px-2));
  width: 100dvmin;
  padding: var(--size-1);
  overflow: hidden;
  height: var(--size-9);
  animation: var(--animation-slide-in-up) forwards;
  cursor: pointer;

  &,
  * {
    transition: all 0.4s ease;
  }

  img {
    height: calc(var(--size-8) + var(--size-2));
    object-fit: cover;
    border-radius: calc(var(--roundness) * 0.5);
    box-shadow: var(--shadow-1);
    pointer-events: none;
  }

  @media(orientation:landscape) {
    margin: 0 auto;
    border: var(--border);
    box-shadow: var(--shadow-2);
    bottom: var(--size-10);
    border-radius: var(--roundness);
    background: var(--blurMix);
  }

  @media(orientation:portrait) {
    bottom: var(--size-9);
    box-shadow: var(--shadow-6);
    border-top: var(--border);
    border-top-left-radius: var(--roundness);
    border-top-right-radius: var(--roundness);
    background: linear-gradient(transparent, var(--trueBg));

    img {
      height: var(--size-8);
      margin-left: var(--size-1);
    }
  }


  button {
    background: none;
    border: none;
    color: var(--text);
    font-size: var(--size-5);
    aspect-ratio: 1;
    padding: 0;
    margin: 0 var(--size-1);
    transition: transform 0.4s;

    &:active {
      transform: scale(0.75);
    }
  }

  #playButton {
    font-size: var(--size-7);
    margin: 0;
    margin-left: var(--size-2);
    margin-right: var(--size-2);
  }

  .ri-heart-line {
    font-size: var(--size-6);
  }

  .mediaDetails {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    margin-left: var(--size-2);

    a {
      font-weight: var(--font-weight-6);
      font-size: var(--font-size-2);
      display: block;
    }

    a,
    p {
      white-space: nowrap;
      overflow: clip;
      text-overflow: ellipsis;
      color: var(--text);
    }


    p {
      font-size: calc(var(--size-6) / 2);
      font-weight: var(--font-weight-5);
      opacity: 90%;
    }
  }

  progress {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    accent-color: auto;
    appearance: none;

    &::-webkit-progress-bar {
      background: transparent;
    }

    &::-webkit-progress-value {
      background: linear-gradient(transparent, var(--onBg2));
      transition: all 0.4s linear;
    }
  }

}