.miniplayer {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--size-9);
  padding: var(--size-1);
  animation: var(--animation-slide-in-up) forwards;
  cursor: pointer;

  &,
  * {
    transition: all 0.4s ease;
  }

  img {
    height: calc(var(--size-8) + var(--size-2));
    object-fit: cover;
    border: var(--border);
    border-radius: calc(var(--roundness) * 0.5);
    box-shadow: var(--shadow-1);
    pointer-events: none;
  }



  button,
  i {
    background: none;
    border: none;
    color: var(--text);
    font-size: var(--size-5);
    aspect-ratio: 1;
    padding: 0;
    margin: 0 var(--size-1);
    transition: transform 0.4s;

    &:active {
      transform: scale(0.75);
    }
  }

  #playButton {
    font-size: var(--size-7);
    margin: 0;
    margin-left: var(--size-2);
    margin-right: var(--size-2);
  }

  .ri-heart-line,
  .ri-heart-fill {
    font-size: var(--size-6);
  }

  .mediaDetails {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    margin-left: var(--size-2);

    a {
      font-weight: var(--font-weight-6);
      font-size: var(--font-size-2);
      display: block;
    }

    a,
    p {
      white-space: nowrap;
      overflow: clip;
      text-overflow: ellipsis;
      color: var(--text);
    }


    p {
      font-size: calc(var(--size-6) / 2);
      font-weight: var(--font-weight-5);
      opacity: 90%;
    }
  }

  progress {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    accent-color: auto;
    appearance: none;

    &::-webkit-progress-bar {
      background: transparent;
    }

    &::-webkit-progress-value {
      background: linear-gradient(transparent, var(--onBg2));
      border-bottom: var(--border-size-1) solid var(--text2);
      transition: all 1s linear;
    }
  }

}