nav {
  display: flex;
  width: 100%;
  margin: auto 0;

  i {
    font-size: var(--font-size-3);
    padding: 0 var(--size-2);
    opacity: 0.5;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    color: var(--text);
    height: var(--size-7);
  }

  .on {
    opacity: 1;
    color: var(--text2);
    font-weight: var(--font-weight-7);
  }
}