.streamItem {
	width: 100%;
	user-select: none;
	color: var(--text);
	margin-bottom: calc(var(--gap) - var(--size-2));
	padding: var(--size-1);
	background-color: var(--onBg);
	border: var(--border);
	border-radius: var(--roundness);
	display: flex;
	align-items: center;
	position: relative;
	transition: transform 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;


	div,
	span {
		pointer-events: none;
		transition: opacity 0.4s;
	}

	&:hover {
		background-color: var(--onBg2);
		color: var(--text2);
	}

	&.ravel {
		* {
			opacity: 0;
		}
	}


	span {
		position: relative;
		z-index: 0;
		margin-right: var(--size-2);

		img {
			max-height: var(--size-10);
			max-width: var(--size-11);
			border-radius: calc(var(--roundness) * 0.6);
			box-shadow: var(--shadow-1);
		}


		.duration {
			position: absolute;
			padding: 0 var(--size-1);
			bottom: var(--size-1);
			right: var(--size-1);
			background-color: #000a;
			color: #fffc;
			border-radius: calc(var(--roundness) * 0.5);
			font-size: var(--font-size-0);
			font-weight: var(--font-weight-6);
		}
	}

	div {
		height: 100%;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;


		.title {
			max-height: 100%;
			line-height: var(--size-4);
			font-size: var(--font-size-1);
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: var(--font-weight-5);
			margin-bottom: auto;
		}

		.avu {
			height: var(--size-7);
			overflow: hidden;
			line-height: var(--size-3);
			width: 100%;

			p {
				font-size: var(--font-size-0);
				font-weight: var(--font-weight-5);
				letter-spacing: var(--font-letterspacing-0);
				opacity: 0.9
			}

		}
	}

	i {
		height: var(--size-9);
		aspect-ratio: 1;
		font-size: var(--font-size-3);
		z-index: 2;
		position: absolute;
		right: calc(var(--size-2) - var(--size-8));
		bottom: calc(var(--size-1) - var(--size-7));
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			background-color: var(--onBg);
		}
	}

}

#queuelist>a {
	transition: initial;
}