:host {
  display: flex;
  align-items: center;
  margin: 4vmin 0;
  color: var(--text);
}

label {
  margin-left: auto;
  position: relative;
  display: inline-block;
  pointer-events: none;
  width: 9vmin;
  height: 6vmin;
}

span {
  cursor: pointer;
  inset: 0;
  background-color: var(--onBg);
}

span:before {
  position: absolute;
  content: "";
  height: calc(100% - 2.3vmin);
  width: 20%;
  margin: 1vmin;
  background-color: var(--text);
}

span,
span:before {
  position: absolute;
  transition: 0.3s;
  border-radius: var(--roundedness);
  border: var(--border);
}

input {
  display: none;
}

input:checked+span {
  background-color: var(--onBg);
}

input:checked+span:before {
  transform: translateX(4.6vmin);
}