:host {
  display: flex;
}

label {
  margin-left: auto;
  position: relative;
  display: inline-flex;
  pointer-events: none;
  height: 1.35rem;
  width: 2rem;
}

span {
  cursor: pointer;
  inset: 0;
  background-color: var(--onBg);
  border-radius: var(--roundness);
  border: var(--border);
}

span:before {
  position: absolute;
  content: "";
  height: calc(100% - 0.5rem);
  aspect-ratio: 1;
  margin: 0.25rem;
  background-color: var(--text);
  border-radius: calc(var(--roundness) / 2);
}

span,
span:before {
  position: absolute;
  transition: 0.3s;
}

input {
  display: none;
}

input:checked+span {
  background-color: var(--bg);
}

input:checked+span:before {
  transform: translateX(0.65rem);
}