#changelog {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  animation: zoomout 0.5s ease-in-out forwards;


  ul {
    background-color: var(--onBg);
    border-radius: calc(var(--roundness) + 0.75vmin);
    color: var(--text);
    box-shadow: var(--shadow);
    border: var(--border);
    padding: 2vmin;
    overflow: hidden scroll;
    max-height: 80dvh;
    max-width: calc(100% - 10dvmin);

    li {
      &:first-child {
        list-style-type: none;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 5%;
      }

      margin-bottom:0.5rem;
    }

    hr {
      border: 1px solid var(--text);
      opacity: 0.5;
      margin: 1rem 0;
    }
  }

  span {
    display: flex;
    justify-content: space-between;
  }

}