#playerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


  button {
    background: none;
  }

  i,
  button,
  label {
    font-size: var(--font-size-4);
  }

  img {
    width: 50dvh;
    margin: auto;
  }

}

@media(orientation:landscape) {
  img {
    width: auto;
    margin: 0;
  }

  #track {
    text-align: center;
  }
}

#track {
  border: 1px dashed orange;

  a {
    font-size: var(--size-4);
  }

  p {
    font-size: var(--size-3);
  }
}


#playerPrimary {
  display: flex;
  justify-content: space-between;
  border: 1px dashed blue;

  #playButton {
    transform: scale(1.5)
  }
}

#playerSecondary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed red;

  input[type='checkbox'] {
    display: none
  }


  select {
    background: none;
    width: calc(var(--size-8) + var(--size-2));
    padding: 0;
    margin: 0;
    appearance: none;
  }

  i,
  label {
    width: var(--size-6);
  }

}

#playerTertiary {
  display: flex;
  justify-content: space-around;
  border: 1px dashed green;
}