@import '../styles/range.css';

#playerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;

  button {
    background: none;
  }

  i,
  button,
  label {
    font-size: var(--font-size-4);
  }

  img {
    width: 41dvh;
    margin: 0 auto;
  }

}


.track {

  a {
    font-size: var(--size-4);
  }

  p {
    font-size: var(--size-3);
  }

  @media(orientation:landscape) {
    text-align: center;
  }
}

.slider {
  input {
    width: 100%;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.topShelf {
  display: flex;
  justify-content: space-between;

}

.mainShelf {
  display: flex;
  justify-content: space-between;

  :first-child {
    animation: var(--animation-slide-in-down) forwards;
  }

  :last-child {
    animation: var(--animation-slide-in-up) forwards;

  }

  #playButton {
    transform: scale(1.5)
  }


  input[type='checkbox'] {
    display: none
  }

  select {
    background: none;
    width: calc(var(--size-8) + var(--size-2));
    padding: 0;
    margin: 0;
    appearance: none;
  }

  #volumeChanger {
    text-align: right;
  }


}