nav {
  background-color: var(--nav);
  display: flex;
}

nav input {
  display: none;
}

nav label {
  color: inherit;
  border-radius: var(--roundedness);
  font-weight: bold;
  cursor: none;
}


nav label:hover {
  background-color: var(--hover);
}

nav input:checked+label {
  background-color: var(--linkBg);
  color: var(--onLinkBg);
}

@media(orientation:portrait) {

  nav {
    justify-content: space-around;
    width: 100%;
  }


  nav label {
    padding: 1vmin 2vmin;
    margin: 1vmin;
  }

}

@media(orientation:landscape) {

  nav {
    height: 100%;
    flex-direction: column;
    width: 30%;
    font-size: 5vh;
    justify-content: center;
  }

  nav label {
    width: 70%;
    padding: 5% 0 5% 5vw;
    margin: 2% 5%;
  }

}