nav {
  background-color: var(--nav);
  display: flex;
}

nav a {
  color: inherit;
  text-decoration: none;
  border-radius: var(--roundedness);
  font-weight: bold;
  cursor: none;
}

nav a:hover {
  background-color: var(--hover);
}

nav a.selected {
  background-color: var(--linkBg);
  color: var(--onLinkBg);
}

@media(orientation:portrait) {

  nav {
    justify-content: space-around;
    width: 100%;
  }


  nav a {
    padding: 1vmin 2vmin;
    margin: 1vmin;
  }

}

@media(orientation:landscape) {

  nav {
    height: 100%;
    flex-direction: column;
    width: 30%;
    font-size: 5vh;
    justify-content: center;
  }

  nav a {
    width: 70%;
    padding: 5% 0 5% 5vw;
    margin: 2% 5%;
  }

}