:root {
  --bg: var(--nav);
  --text: hsl(217, 30%, 70%);
  --nav: hsl(217, 35%, 95%);
  --linkBg: hsl(217, 50%, 85%);
  --onLinkBg: hsl(217, 50%, 40%);
  --hover: hsl(217, 50%, 90%);
  --roundedness: 4vmin;
}

@media(prefers-color-scheme:dark) {
  :root {
    --bg: var(--nav);
    --text: #aaa;
    --nav: #222;
    --linkBg: #555;
    --onLinkBg: #fff;
    --hover: #333;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  color: var(--text);
  font-size: 15vmin;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

section {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

section:target {
  display: flex
}