.home:has(>div.search) {

  header {
    position: sticky;
    top: 0;
    z-index: 20;
    background:
      linear-gradient(to right, var(--trueBg), transparent, var(--trueBg)),
      linear-gradient(var(--trueBg), transparent);
    backdrop-filter: blur(var(--size-px-3));
  }
}

.search {

  --inputround: var(--roundness);

  &:has(li) {
    --inputround: var(--roundness) var(--roundness) 0 0;
  }

  .superInputContainer {
    height: auto;
    margin: 0;
    margin-bottom: var(--size-4);
    position: sticky;
    top: calc(var(--size-9) - var(--border-size-2));
    z-index: 5;
    padding: calc(var(--gap) / 2) var(--gap);
    border: var(--border);
    border-radius: var(--inputround);
    display: flex;
    align-items: center;
    background-color: var(--onBg);
    transition-duration: 0ms;

    &:focus-within {
      box-shadow: var(--shadow-1);
    }

    .superInput {
      border: none;
      padding: 0;
      height: 100%;
      width: 100%;
      outline: none;
      background: none;
      color: none;
      font-size: var(--font-size-1);

      &::-webkit-search-cancel-button {
        appearance: none;
      }


      &::placeholder {
        color: inherit;
        opacity: 75%;
      }
    }

    .suggestions {
      width: calc(100% + var(--border-size-1));
      max-height: var(--size-fluid-8);
      position: absolute;
      z-index: 5;
      list-style-type: none;
      padding: 0;
      top: calc(var(--size-7) + var(--size-1));
      margin-left: calc(0rem - var(--gap) - calc(var(--border-size-1) / 2));
      background-color: var(--scheme);
      border: var(--border);
      border-radius: 0 0 var(--roundness) var(--roundness);
      box-shadow: var(--shadow-1);
      display: block;
      user-select: none;
      overflow: hidden;


      li {
        padding: var(--size-1) var(--size-3);
        background-color: var(--onBg);
        border-bottom: var(--border);
        font-size: var(--font-size-1);
        height: var(--size-fluid-4);
        opacity: 0.7;

        &:hover,
        &:focus,
        &.hover {
          background-color: var(--onBg2);
          color: var(--text2);
          opacity: 1;
        }
      }
    }

    .searchFilters {
      font-size: var(--font-size-0);
      font-weight: var(--font-weight-7);
      letter-spacing: var(--font-letterspacing-1);
      background: none;
      max-width: var(--size-10);
      margin-left: var(--gap);
      padding: 0;
      border: none;
      color: inherit;
      text-align: right;
      outline: none;
      appearance: none;
      opacity: 0.5;
    }
  }

  .listItem {
    &:nth-child(odd) {
      margin-right: var(--gap);
    }

  }

  .streamItem {
    margin-bottom: 0;
    margin-top: var(--size-2);
    border: none;
    padding: 0;

    img {
      margin: var(--size-1);
    }

    .duration {
      bottom: var(--size-2);
      right: var(--size-2);
    }
  }

  .searchlist {
    margin-bottom: var(--size-fluid-6);
  }

}