.search {

  .superInputContainer {
    height: auto;
    margin: 0;
    padding: calc(var(--gap) / 2) var(--gap);
    border: var(--border);
    border-radius: var(--roundness) var(--roundness) 0 0;
    display: flex;
    align-items: center;
    background-color: var(--onBg);

    &:focus-within {
      box-shadow: var(--shadow-1);
    }

    .superInput {
      border: none;
      padding: 0;
      height: 100%;
      width: 100%;
      outline: none;
      background: none;
      color: none;
      font-size: var(--font-size-1);

      &::-webkit-search-cancel-button {
        appearance: none;
      }


      &::placeholder {
        color: inherit;
        opacity: 75%;
      }
    }

    .suggestions {
      max-height: var(--size-fluid-8);
      width: calc(100% - calc(var(--gap) * 2));
      position: fixed;
      z-index: 5;
      list-style-type: none;
      padding: 0;
      top: calc(var(--size-11) - var(--size-4));
      left: var(--gap);
      background-color: var(--scheme);
      border: var(--border);
      border-radius: 0 0 var(--roundness) var(--roundness);
      box-shadow: var(--shadow-2);
      display: block;
      user-select: none;
      overflow: hidden;

      li {
        padding: var(--size-1) var(--size-3);
        background-color: var(--onBg);
        border-bottom: var(--border);
        font-size: var(--font-size-1);
        height: var(--size-fluid-4);

        &:hover,
        &:focus,
        &.hover {
          background-color: var(--text);
          color: var(--bg);
        }
      }
    }

    .searchFilters {
      font-size: medium;
      background: none;
      max-width: var(--size-10);
      margin-left: var(--gap);
      padding: 0;
      border: none;
      color: inherit;
      text-align: right;
      outline: none;
      appearance: none;
    }
  }



  .searchlist {
    overflow: hidden scroll;
    max-height: calc(100dvh - var(--size-11) + var(--size-3));
  }

  .listItem {
    &:nth-child(odd) {
      margin-right: var(--gap);
    }

  }

  .streamItem {
    margin-bottom: 0;
    border-radius: 0;
  }

}