#actionsMenu {
  box-shadow: var(--shadow-3);
  padding: 0;
  width: 100%;
  margin: auto;
  margin-bottom: var(--size-4);
  border: var(--border);
  border-radius: var(--roundness);
  background-color: var(--onBg);
  backdrop-filter: blur(var(--size-px-2));
  overflow: auto;
  animation: var(--animation-slide-out-down) forwards;

  &::backdrop {
    background-color: #0004;
  }

  &:open {
    animation: var(--animation-slide-in-up) forwards;
  }

  @media(orientation:landscape) {
    width: max-content;
    margin: auto var(--size-fluid-1);
    margin-left: auto;
    animation-name: fromRight;

  }

  ul {
    list-style: none;
    padding: var(--gap);
    width: auto;
    display: grid;
  }

  li {
    cursor: pointer;
    color: var(--text);
    user-select: none;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 0 var(--size-1);
    border: var(--border-size-1) solid transparent;
    border-radius: var(--roundness);

    &:hover {
      border: var(--border);
      background: var(--onBg);
    }

    & i {
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-4);
    }

  }

}

#collectionSelector {
  font-weight: inherit;
  font-size: inherit;
  margin-left: 0;
  appearance: none;
  background: transparent;
  padding: 0;
}