#actionsMenu {
  padding: 0;
  width: 100%;
  margin: auto;
  border: var(--border);
  border-radius: var(--roundness);
  background: rgb(from var(--onBg) r g b / 0.8);
  backdrop-filter: blur(var(--size-px-2));
  overflow: auto;

  >.streamItem {
    margin: 0;
    pointer-events: none;
    border: none;
    max-width: 100dvmin;

    .ri-more-2-fill {
      display: none;
    }
  }

  &[open],
  &:open {
    animation: var(--animation-slide-in-up);
  }

  @media(orientation:portrait) {
    margin-bottom: var(--size-4);
  }

  @media(orientation:landscape) {
    margin-right: var(--size-fluid-2);
    width: max-content;

    &[open],
    &:open {
      animation: var(--animation-slide-in-left);
    }

  }

  &::backdrop {
    background-color: var(--blurMix);
    backdrop-filter: blur(var(--size-px-1));
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
  }

  li {
    cursor: pointer;
    color: var(--text);
    user-select: none;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--size-1) var(--size-5);
    border-top: var(--border);
    transition: background-color 0.2s;

    &:hover {
      background: var(--onBg2);
      color: var(--text2);
    }

    & i {
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-3);
    }
  }

  .clxnShelf {
    display: flex;
    cursor: initial;
    border: none;

    i {
      max-width: 34%;
      text-align: center;
      flex: 1;
      font-style: inherit !important;
      display: flex;
      justify-content: center;
      align-items: center;

      select {
        appearance: none;
        margin: 0 !important;
        padding: 0 !important;
        max-width: 33%;
        text-align: right;
        color: inherit !important;
      }
    }
  }
}