#actionsMenu {
  padding: 0;
  width: 100%;
  margin: auto;
  margin-bottom: var(--size-4);
  border: var(--border);
  border-radius: var(--roundness);
  background-color: var(--scheme);
  overflow: auto;
  animation: var(--animation-slide-out-down) forwards;

  &::backdrop {
    background-color: #0004;
  }

  &:open {
    animation: var(--animation-slide-in-up) forwards;
  }

  @media(orientation:landscape) {
    width: max-content;
    margin: auto var(--size-fluid-1);
    margin-left: auto;
    animation: var(--animation-slide-out-right) forwards;

    &:open {
      animation-name: var(--animation-slide-in-left);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    width: auto;
    display: grid;
  }

  li {
    cursor: pointer;
    color: var(--text);
    user-select: none;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--size-1) var(--size-4);
    border: var(--border);

    &:hover {
      border: var(--border);
      background: var(--onBg2);
      color: var(--text2);
    }

    & i {
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-3);
    }

  }

  .clxnShelf {
    display: flex;
    justify-content: space-between;
    cursor: initial;

    i {
      text-align: center;
      flex: 1;
      font-style: inherit;
    }

  }


}

#collectionSelector {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  appearance: none;
  background: transparent;
  padding: 0;
  color: inherit;
}