#actionsMenu {
  padding: 0;
  width: 100%;
  margin: auto;
  border: var(--border);
  border-radius: var(--roundness);
  background-color: var(--scheme);
  overflow: auto;
  animation: var(--animation-slide-out-down) forwards;

  &[open],
  &:open {
    animation: var(--animation-slide-in-up) forwards;
  }

  @media(orientation:portrait) {
    margin-bottom: var(--size-4);
  }

  @media(orientation:landscape) {
    margin-right: var(--size-fluid-2);
    width: max-content;
    animation: var(--animation-slide-out-right) forwards;

    &[open],
    &:open {
      animation: var(--animation-slide-in-left) forwards;
    }

  }

  &::backdrop {
    background-color: #0004;
    margin: 0;
    padding: 0;
  }


  ul {
    list-style: none;
    padding: 0;
    width: auto;
    display: grid;
  }

  li {
    cursor: pointer;
    color: var(--text);
    user-select: none;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--size-1) var(--size-4);

    &:hover {
      background: var(--onBg2);
      color: var(--text2);
    }

    & i {
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-3);
    }

  }

  .clxnShelf {
    display: flex;
    cursor: initial;

    i {
      max-width: 34%;
      text-align: center;
      flex: 1;
      font-style: inherit;

      select {
        margin: 0;
        padding: 0;
      }
    }

  }


}

#collectionSelector {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  appearance: none;
  background: transparent;
  padding: 0;
  color: inherit;
}