.queueSection>header {
  position: sticky;
  top: 0;
  z-index: 20;
  background:
    linear-gradient(to right, var(--trueBg), transparent, var(--trueBg)),
    linear-gradient(var(--trueBg), transparent);
  backdrop-filter: blur(var(--size-px-3));

}

.queuetools {
  z-index: 20;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  list-style: none;
  padding: var(--size-1);
  gap: var(--size-1);
  margin-bottom: var(--size-3);
  box-shadow: var(--shadow-1);
  border: var(--border);
  border-radius: calc(var(--roundness) * 1.3);

  li {
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: var(--roundness);
    cursor: pointer;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
    padding: var(--size-2) var(--size-1);
    letter-spacing: var(--font-letterspacing-0);
    --liBg: var(--onBg2);
    background: color-mix(in srgb, var(--liBg), transparent 85%) !important;
    color: color-mix(in srgb, var(--liBg), var(--text) 50%) !important;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: var(--size-1);
    border: none;

    &.on {
      --liBg: var(--text2);
    }

    &:hover {
      text-decoration: underline dotted;
    }

    &:last-child {
      grid-column: span 2;
    }

  }

}

#queuelist {
  margin-bottom: var(--size-fluid-6);

  a.delete {

    background-color: color-mix(in srgb, #f22, var(--onBg) 80%);
    color: color-mix(in srgb, #f22, var(--text) 80%);

  }

}



.standby-article {
  margin-bottom: var(--size-10);

  >p.standby-header {
    display: inline-block;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-4);
    letter-spacing: var(--font-letterspacing-2);
    color: var(--text2);
    opacity: 0.7;
    width: calc(100% - var(--size-8));
  }

  >i {
    font-size: var(--font-size-3);
    cursor: pointer;
    padding: var(--size-1) var(--size-2);
    margin-right: var(--size-2);
    border-radius: var(--roundness);

    &:hover {
      background: var(--onBg2);
      color: var(--text2);
    }

    &.loading {
      display: inline-block;
      animation: spinner 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite !important;
    }
  }

  .standby {
    display: flex;
    flex-direction: column;
    margin: var(--size-2) 0;
    opacity: 0.5;

    .streamItem {
      margin-bottom: 0;
      width: 100%;
      flex-shrink: 0;

      .title {
        height: var(--size-4);
        text-overflow: clip;
      }
    }
  }
}